Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

chore: deploy to sepolia and store contracts
  packages/contracts/default-deployed-contracts.json
  packages/contracts/tasks/deploy/maci/01-constantInitialVoiceCreditProxy.ts
  packages/contracts/tasks/deploy/maci/02-gatekeepers.ts
  packages/contracts/tasks/deploy/maci/03-verifier.ts
  packages/contracts/tasks/deploy/maci/04-poseidon.ts
  packages/contracts/tasks/deploy/maci/05-pollFactory.ts
  packages/contracts/tasks/deploy/maci/06-messageProcessorFactory.ts
  packages/contracts/tasks/deploy/maci/07-tallyFactory.ts
  packages/contracts/tasks/deploy/maci/08-maci.ts
  packages/contracts/tasks/deploy/maci/09-vkRegistry.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): make poll modifiers virtual
  packages/contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

docs(blogpost): blogpost cuvering the latest updates
  website/blog/2024-08-29-poll-joining.md
Due: none

docs(blogpost): kudos to our team members!
  website/blog/2024-08-29-poll-joining.md
Due: none

chore(docs): remove version banner in v1.2
  apps/website/docusaurus.config.ts
  apps/website/versioned_docs/version-v1.2/introduction.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(docs): remove version banner in v1.2 (#1797)
  apps/website/docusaurus.config.ts
  apps/website/versioned_docs/version-v1.2/introduction.md
Due: prettier --ignore-unknown --write, eslint --fix

style(prettier): blog
  website/blog/2024-08-29-poll-joining.md
Due: none

chore: update message tree depth programmatically in benchmarks
  packages/contracts/tasks/helpers/Deployment.ts
  packages/contracts/tasks/helpers/benchmarks.ts
  packages/contracts/tasks/runner/benchmarks.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update message tree depth programmatically in benchmarks (#1799)
  packages/contracts/tasks/helpers/Deployment.ts
  packages/contracts/tasks/helpers/benchmarks.ts
  packages/contracts/tasks/runner/benchmarks.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: get poll mode within sdk
  packages/cli/ts/commands/poll.ts
  packages/cli/ts/utils/interfaces.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: get poll mode within sdk (#1800)
  packages/cli/ts/commands/poll.ts
  packages/cli/ts/utils/interfaces.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(merge): dev and blog/poll-joining
  apps/website/blog/2024-08-29-poll-joining.md
  apps/website/docusaurus.config.ts
  packages/cli/ts/commands/poll.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/tasks/helpers/Deployment.ts
  packages/contracts/tasks/helpers/benchmarks.ts
  packages/contracts/tasks/runner/benchmarks.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(blog): anonymous poll joining
  apps/website/blog/2024-08-29-anonymous-poll-joining.md
  apps/website/docusaurus.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(blog): anonymous poll joining (#1805)
  apps/website/blog/2024-08-29-anonymous-poll-joining.md
  apps/website/docusaurus.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: added polygon and gnosis to supported networks and benchmark
  packages/contracts/default-deployed-contracts.json
  packages/contracts/deploy-config-example.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/helpers/benchmarks.ts
  packages/contracts/tasks/helpers/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: added polygon and gnosis to supported networks and benchmark
  apps/website/versioned_docs/version-v2.x/developers-references/smart-contracts/SupportedNetworks.md
  packages/contracts/default-deployed-contracts.json
  packages/contracts/deploy-config-example.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/helpers/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(ceremony): update ceremony tests to work with v2 params and keys
  .github/workflows/nightly-ceremony.yml
  packages/circuits/ts/__tests__/CeremonyParams.test.ts
  packages/cli/tests/ceremony-params/ceremonyParams.test.ts
  packages/cli/tests/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(ceremony): update ceremony tests to work with v2 params and keys (#1807)
  .github/workflows/nightly-ceremony.yml
  packages/circuits/ts/__tests__/CeremonyParams.test.ts
  packages/cli/tests/ceremony-params/ceremonyParams.test.ts
  packages/cli/tests/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: do not cleanup thread all the time while doing parallel proof gen
  packages/circuits/ts/proofs.ts
  packages/contracts/tasks/helpers/ProofGenerator.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: do not cleanup thread all the time while doing parallel proof gen (#1808)
  packages/circuits/ts/proofs.ts
  packages/contracts/tasks/helpers/ProofGenerator.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update trusted setup docs and fix links
  .github/scripts/downloadZkeys.ts
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/blog/2024-05-08-ethdam.md
  apps/website/blog/2024-06-17-understanding-maci.md
  apps/website/blog/2024-07-23-q2-review.md
  apps/website/blog/2024-07-30-roadmap-q3.md
  apps/website/blog/2024-08-10-maci-v2.md
  apps/website/versioned_docs/version-v2.x/developers-references/zk-snark-circuits/setup.md
  apps/website/versioned_docs/version-v2.x/security/trusted-setup.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(joinpoll): index value of the user in the state tree leaves
  cli/ts/commands/joinPoll.ts
  cli/ts/utils/constants.ts
  cli/ts/utils/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(blog): remove poll-joining
  website/blog/2024-08-29-poll-joining.md
Due: none

docs: update trusted setup docs and fix links (#1806)
  .github/scripts/downloadZkeys.ts
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/blog/2024-05-08-ethdam.md
  apps/website/blog/2024-06-17-understanding-maci.md
  apps/website/blog/2024-07-23-q2-review.md
  apps/website/blog/2024-07-30-roadmap-q3.md
  apps/website/blog/2024-08-10-maci-v2.md
  apps/website/versioned_docs/version-v2.x/developers-references/zk-snark-circuits/setup.md
  apps/website/versioned_docs/version-v2.x/security/trusted-setup.md
Due: prettier --ignore-unknown --write, eslint --fix

chore: publish 2.3.0
  CHANGELOG.md
  apps/subgraph/CHANGELOG.md
  apps/subgraph/package.json
  apps/website/CHANGELOG.md
  apps/website/package.json
  lerna.json
  package.json
  packages/circuits/CHANGELOG.md
  packages/circuits/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/integrationTests/CHANGELOG.md
  packages/integrationTests/package.json
  pnpm-lock.yaml
Due: none

chore: publish 2.3.0 (#1812)
  CHANGELOG.md
  apps/subgraph/CHANGELOG.md
  apps/subgraph/package.json
  apps/website/CHANGELOG.md
  apps/website/package.json
  lerna.json
  package.json
  packages/circuits/CHANGELOG.md
  packages/circuits/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/integrationTests/CHANGELOG.md
  packages/integrationTests/package.json
  pnpm-lock.yaml
Due: none

fix: ensure nightly workflow use correct paths
  packages/cli/tests/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: ensure nightly workflow use correct paths (#1814)
  packages/cli/tests/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(merkleroot-gatekeeper): adds a gatekeeper that uses merkle tree
  packages/contracts/contracts/gatekeepers/MerkleProofGatekeeper.sol
  packages/contracts/tests/MerkleProofGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(merkleroot-gatekeeper): adds a gatekeeper that uses merkle tree
  packages/contracts/contracts/gatekeepers/MerkleProofGatekeeper.sol
  packages/contracts/package.json
  packages/contracts/tests/MerkleProofGatekeeper.test.ts
  packages/contracts/ts/utils.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(merkleroot-gatekeeper): adds a gatekeeper that uses merkle tree (#1821)
  packages/contracts/contracts/gatekeepers/MerkleProofGatekeeper.sol
  packages/contracts/package.json
  packages/contracts/tests/MerkleProofGatekeeper.test.ts
  packages/contracts/ts/utils.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor: redesigned projects built with MACI page
  apps/website/src/components/ActionCard/index.tsx
  apps/website/src/components/ActionCard/styles.module.css
  apps/website/src/components/ProjectCard/index.tsx
  apps/website/src/components/ProjectCard/styles.module.css
  apps/website/src/components/ProjectList/index.tsx
  apps/website/src/components/ProjectList/styles.module.css
  apps/website/src/content/projects.json
  apps/website/src/icons/IconDiscord.tsx
  apps/website/src/icons/IconGithub.tsx
  apps/website/src/icons/IconWebsite.tsx
  apps/website/src/pages/index.module.css
  apps/website/src/pages/projects.md
  apps/website/src/pages/projects.tsx
  apps/website/src/utils/getProjectsByFilter.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: redesigned projects built with MACI page (#1813)
  apps/website/src/components/ActionCard/index.tsx
  apps/website/src/components/ActionCard/styles.module.css
  apps/website/src/components/ProjectCard/index.tsx
  apps/website/src/components/ProjectCard/styles.module.css
  apps/website/src/components/ProjectList/index.tsx
  apps/website/src/components/ProjectList/styles.module.css
  apps/website/src/content/projects.json
  apps/website/src/icons/IconDiscord.tsx
  apps/website/src/icons/IconGithub.tsx
  apps/website/src/icons/IconWebsite.tsx
  apps/website/src/pages/index.module.css
  apps/website/src/pages/projects.md
  apps/website/src/pages/projects.tsx
  apps/website/src/utils/getProjectsByFilter.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(merkleroot-gatekeeper): added deploy scripts and config
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/maci/02-gatekeepers.ts
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(merkleroot-gatekeeper): added deploy scripts and config (#1822)
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/maci/02-gatekeepers.ts
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(docs): update link for AccQueue contract
  apps/website/versioned_docs/version-v2.x/core-concepts/merkle-trees.md
Due: none

chore(docs): update link for AccQueue contract (#1824)
  apps/website/versioned_docs/version-v2.x/core-concepts/merkle-trees.md
Due: none

feat(scripts): added merkleproof gatekeeper to signup script and utils
  packages/cli/ts/commands/signup.ts
  packages/cli/ts/sdk/index.ts
  packages/cli/ts/utils/index.ts
  packages/cli/ts/utils/interfaces.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(scripts): added merkleproof gatekeeper to signup script and utils (#1823)
  packages/cli/ts/commands/signup.ts
  packages/cli/ts/sdk/index.ts
  packages/cli/ts/utils/index.ts
  packages/cli/ts/utils/interfaces.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(deploy-maci): sets the maci instance of any gatekeeper
  packages/contracts/tasks/deploy/maci/08-maci.ts
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix
