Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

feat(contracts): add hardhat tasks for voting in deployed polls
  README.md
  apps/coordinator/package.json
  apps/relayer/package.json
  apps/website/blog/2024-12-01-maci-getting-started.md
  apps/website/blog/2025-03-21-roadmap-2025.md
  apps/website/static/img/relayer-diagram.png
  apps/website/versioned_docs/version-v3.x/core-concepts/coordinator-service.md
  apps/website/versioned_docs/version-v3.x/core-concepts/offchain-voting.md
  apps/website/versioned_docs/version-v3.x/core-concepts/spec.md
  apps/website/versioned_docs/version-v3.x/core-concepts/workflow.md
  apps/website/versioned_docs/version-v3.x/technical-references/coordinator-service/_category_.json
  apps/website/versioned_docs/version-v3.x/technical-references/coordinator-service/index.md
  apps/website/versioned_docs/version-v3.x/technical-references/coordinator-service/installation.md
  apps/website/versioned_docs/version-v3.x/technical-references/offchain-relayer/_category_.json
  apps/website/versioned_docs/version-v3.x/technical-references/offchain-relayer/index.md
  apps/website/versioned_docs/version-v3.x/technical-references/offchain-relayer/installation.md
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tasks/runner/vote.ts
  packages/contracts/tasks/voting/README.md
  packages/contracts/tasks/voting/index.ts
  packages/contracts/tasks/voting/pollFlow.ts
  packages/contracts/tasks/voting/vote.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat: add erc20Votes policy deployment
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/types.ts
  packages/contracts/contracts/mocks/Mocker.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/package.json
  packages/contracts/tasks/deploy/maci/01-gatekeepers.ts
  packages/contracts/tasks/deploy/poll/02-gatekeepers.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tests/policies/ERC20Votes.test.ts
  packages/contracts/ts/deploy.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sdk): use full import paths
  packages/sdk/ts/browser/index.ts
  packages/sdk/ts/deploy/poll.ts
  packages/sdk/ts/maci/state.ts
  packages/sdk/ts/poll/utils.ts
  packages/sdk/ts/proof/generate.ts
  packages/sdk/ts/proof/prove.ts
  packages/sdk/ts/proof/types.ts
  packages/sdk/ts/relayer/utils.ts
  packages/sdk/ts/user/index.ts
  packages/sdk/ts/user/joinPoll.ts
  packages/sdk/ts/user/signup.ts
  packages/sdk/ts/user/user.ts
  packages/sdk/ts/user/utils.ts
  packages/sdk/ts/utils/proofs.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update README links
  README.md
  apps/coordinator/package.json
Due: none

docs: update README links (#2352)
  README.md
  apps/coordinator/package.json
Due: none

fix(sdk): use full path import for sdk users functions
  packages/sdk/ts/browser/joinPoll.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): deploy erc20 votes policy
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/types.ts
  packages/contracts/ts/index.ts
  packages/sdk/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: deployer service with local signer
  apps/coordinator/.env.example
  apps/coordinator/hardhat.config.cjs
  apps/coordinator/package.json
  apps/coordinator/tests/e2e.aa.test.ts
  apps/coordinator/tests/e2e.deploy.test.ts
  apps/coordinator/ts/common/__tests__/common.test.ts
  apps/coordinator/ts/common/accountAbstraction.ts
  apps/coordinator/ts/common/chain.ts
  apps/coordinator/ts/common/index.ts
  apps/coordinator/ts/deployer/__tests__/utils.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/dto.ts
  apps/coordinator/ts/deployer/types.ts
  apps/coordinator/ts/proof/dto.ts
  apps/coordinator/ts/proof/proof.service.ts
  apps/coordinator/ts/proof/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sdk): use full path import for sdk users functions (#2354)
  packages/sdk/ts/browser/joinPoll.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: change assert import
  packages/sdk/ts/trees/stateTree.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): integrate erc20 policy
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/types.ts
  packages/contracts/contracts/mocks/Mocker.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/package.json
  packages/contracts/tasks/deploy/maci/01-gatekeepers.ts
  packages/contracts/tasks/deploy/poll/02-gatekeepers.ts
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tests/policies/ERC20.test.ts
  packages/contracts/ts/deploy.ts
  packages/sdk/ts/maci/policy.ts
  packages/sdk/ts/maci/types.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove caching zkeys for downloading
  .github/workflows/relayer-build.yml
  .github/workflows/reusable-e2e.yml
Due: none

Update README.md
  README.md
Due: none

feat(contracts): return voice credit proxy clone address on deploy
  packages/contracts/contracts/initialVoiceCreditProxy/ConstantInitialVoiceCreditProxyFactory.sol
  packages/contracts/contracts/initialVoiceCreditProxy/ERC20VotesInitialVoiceCreditProxyFactory.sol
Due: prettier --ignore-unknown --write

feat(contracts): return voice credit proxy clone address on deploy (#2358)
  packages/contracts/contracts/initialVoiceCreditProxy/ConstantInitialVoiceCreditProxyFactory.sol
  packages/contracts/contracts/initialVoiceCreditProxy/ERC20VotesInitialVoiceCreditProxyFactory.sol
Due: prettier --ignore-unknown --write

feat: add poll state tree depth
  apps/coordinator/ts/deployer/__tests__/utils.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/types.ts
  apps/subgraph/tests/common.ts
  packages/circuits/ts/__tests__/CeremonyParams.test.ts
  packages/circuits/ts/__tests__/TallyVotes.test.ts
  packages/circuits/ts/__tests__/utils/constants.ts
  packages/cli/ts/index.ts
  packages/contracts/contracts/MessageProcessor.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/Tally.sol
  packages/contracts/contracts/VkRegistry.sol
  packages/contracts/contracts/interfaces/IPoll.sol
  packages/contracts/contracts/interfaces/IVkRegistry.sol
  packages/contracts/contracts/utilities/Params.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/maci/08-vkRegistry.ts
  packages/contracts/tasks/deploy/poll/03-poll.ts
  packages/contracts/tests/Poll.test.ts
  packages/contracts/tests/Tally.test.ts
  packages/contracts/tests/VkRegistry.test.ts
  packages/contracts/tests/constants.ts
  packages/contracts/ts/genMaciState.ts
  packages/core/ts/Poll.ts
  packages/core/ts/__benchmarks__/utils/constants.ts
  packages/core/ts/__tests__/utils/constants.ts
  packages/core/ts/utils/constants.ts
  packages/core/ts/utils/types.ts
  packages/sdk/ts/deploy/poll.ts
  packages/sdk/ts/deploy/types.ts
  packages/sdk/ts/verifyingKeys/setVerifyingKeys.ts
  packages/sdk/ts/verifyingKeys/types.ts
  packages/testing/ts/__tests__/integration.test.ts
  packages/testing/ts/constants.ts
  packages/testing/ts/testingClass.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(circuits): modularize Merkle tree templates
  packages/circuits/circom/coordinator/non-qv/processMessages.circom
  packages/circuits/circom/coordinator/non-qv/tallyVotes.circom
  packages/circuits/circom/coordinator/qv/processMessages.circom
  packages/circuits/circom/coordinator/qv/tallyVotes.circom
  packages/circuits/circom/utils/trees/BinaryMerkleRoot.circom
  packages/circuits/circom/utils/trees/CheckRoot.circom
  packages/circuits/circom/utils/trees/LeafExists.circom
  packages/circuits/circom/utils/trees/MerkleGeneratePathIndices.circom
  packages/circuits/circom/utils/trees/MerkleTreeInclusionProof.circom
  packages/circuits/circom/utils/trees/incrementalMerkleTree.circom
  packages/circuits/circom/voter/poll.circom
Due: none

feat(contracts): introduce FULL_CREDIT voting mode and update related logic
  packages/contracts/contracts/Tally.sol
  packages/contracts/contracts/utilities/DomainObjs.sol
  packages/core/ts/Poll.ts
  packages/core/ts/utils/errors.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli): deploy poll params conflict
  packages/cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contracts): deploy poll with specified voice credit
  packages/contracts/tasks/deploy/poll/03-poll.ts
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contracts): deploy poll with specified voice credit (#2402)
  packages/contracts/tasks/deploy/poll/03-poll.ts
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Use consistent type for encryption public key and improve voting mode handling.
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

Refactor Poll message processing to remove unnecessary voting mode parameter.
  packages/core/ts/__tests__/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update roadmap entry
  LICENSE
  apps/website/src/pages/roadmap.md
  packages/circuits/circom/coordinator/non-qv/processMessages.circom
Due: none

fix(coordinator): remove permissionless dependency
  apps/coordinator/package.json
  pnpm-lock.yaml
Due: none

fix(coordinator): remove permissionless dependency (#2416)
  apps/coordinator/package.json
  pnpm-lock.yaml
Due: none

feat(sdk): get results from tally contract
  packages/sdk/ts/tally/index.ts
  packages/sdk/ts/tally/results.ts
  packages/sdk/ts/tally/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sdk): get results from tally contract (#2415)
  packages/sdk/ts/tally/index.ts
  packages/sdk/ts/tally/results.ts
  packages/sdk/ts/tally/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(sdk): sort out types for browser export
  packages/sdk/package.json
Due: none
