Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

test(circuits): add fuzz tests for incremental quinary tree (#1520)
  circuits/circom/trees/incrementalQuinaryTree.circom
  circuits/ts/__tests__/IncrementalQuinaryTree.test.ts
  circuits/ts/__tests__/PrivToPubKey.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add subgraph module for indexing data
  .eslintignore
  cli/ts/commands/deploy.ts
  cli/ts/utils/constants.ts
  cli/ts/utils/storage.ts
  lerna.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  subgraph/.gitignore
  subgraph/abis/MACI.json
  subgraph/abis/MessageProcessor.json
  subgraph/abis/Poll.json
  subgraph/docker-compose.yaml
  subgraph/networks.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/scripts/generateSubgraph.js
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/constants.ts
  subgraph/src/utils/helper.ts
  subgraph/subgraph.template.yaml
  subgraph/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(subgraph): update
  cli/testScript.sh
Due: none

feat: eslint, abis, generation scripts
  .eslintignore
  cli/testScript.sh
  cli/ts/commands/deploy.ts
  cli/ts/utils/constants.ts
  cli/ts/utils/storage.ts
  pnpm-lock.yaml
  subgraph/.eslintrc.js
  subgraph/.gitignore
  subgraph/abis/MACI.json
  subgraph/abis/MessageProcessor.json
  subgraph/abis/Poll.json
  subgraph/networks.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/scripts/generateSubgraph.js
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/helper.ts
  subgraph/subgraph.yaml
  subgraph/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove eslint disable rules
  subgraph/.eslintrc.js
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: eslint
  pnpm-lock.yaml
  subgraph/.eslintrc.js
  subgraph/networks.json
  subgraph/package.json
  subgraph/src/maci.ts
  subgraph/src/utils/helper.ts
  subgraph/subgraph.yaml
  subgraph/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

chore: ignore generated dir for prettier
  .prettierignore
Due: none

feat: add numMessages, count numSignups in Poll
  .prettierignore
  subgraph/schema.graphql
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: change subgrah network path constant
  cli/ts/utils/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(circuits): remove only for circuits tests
  circuits/ts/__tests__/IncrementalQuinaryTree.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: resolve changes
  cli/ts/utils/constants.ts
  subgraph/src/maci.ts
  subgraph/src/poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: typecasting error in
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: changed manifest based on contract update
  subgraph/schema.graphql
  subgraph/src/maci.ts
  subgraph/subgraph.yaml
Due: prettier --ignore-unknown --write, eslint --fix

fix: change to bigint
  subgraph/.eslintrc.js
  subgraph/schema.graphql
  subgraph/src/maci.ts
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: update lock file
  pnpm-lock.yaml
Due: none

feat(gatekeepers): implement a Zupass gatekeeper
  contracts/contracts/gatekeepers/zupass/Groth16Verifier.sol
  contracts/contracts/gatekeepers/zupass/ZupassGatekeeper.sol
  contracts/package.json
  contracts/tests/ZupassGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contracts): address @ctrlc03 comments
  contracts/contracts/gatekeepers/zupass/ZupassGatekeeper.sol
Due: prettier --ignore-unknown --write

feat(deploy-task): added zupass gatekeeper to the deploy tasks
  contracts/deploy-config-example.json
  contracts/package.json
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/deploy/maci/08-maci.ts
  contracts/tasks/helpers/NumericRepresentation.ts
  contracts/tasks/helpers/types.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor(deploy-task): fixed recommendations
  contracts/package.json
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/deploy/maci/08-maci.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor(deploy-tasks): added recommendation
  contracts/contracts/gatekeepers/zupass/ZupassGatekeeper.sol
  contracts/contracts/gatekeepers/zupass/ZupassGroth16Verifier.sol
  contracts/deploy-config-example.json
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/helpers/NumericRepresentation.ts
  contracts/tasks/helpers/types.ts
  contracts/tests/ZupassGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(deploy-task): renamed numeric representation
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/helpers/numericParser.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(poll): add chain hash features
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/utilities/Params.sol
  contracts/tests/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ipoll): add missing parameter
  contracts/contracts/Poll.sol
  contracts/contracts/interfaces/IPoll.sol
Due: prettier --ignore-unknown --write

fix(poll-tests): add missing parameter maxMessagebatchSize
  contracts/contracts/Poll.sol
  contracts/tests/constants.ts
  contracts/ts/genMaciState.ts
  core/ts/Poll.ts
  core/ts/utils/types.ts
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(poll.ts): add chain hash updating
  circuits/ts/__tests__/CeremonyParams.test.ts
  circuits/ts/__tests__/utils/constants.ts
  contracts/tests/PollFactory.test.ts
  core/ts/Poll.ts
  core/ts/__benchmarks__/utils/constants.ts
  core/ts/__tests__/utils/constants.ts
  core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(poll tests): add test for checking chain hash computation
  contracts/contracts/Poll.sol
  contracts/tests/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(poll.ts): add batch hashes array computation
  contracts/contracts/Poll.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/tests/Poll.test.ts
  core/ts/Poll.ts
  core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(subgraph): add maci-subgraph package
  .eslintignore
  .github/workflows/subgraph-build.yml
  .prettierignore
  lerna.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  subgraph/.eslintrc.js
  subgraph/.gitignore
  subgraph/README.md
  subgraph/config/optimism-sepolia.json
  subgraph/docker-compose.yaml
  subgraph/matchstick.yaml
  subgraph/package.json
  subgraph/schemas/schema.v1.graphql
  subgraph/src/@types/global.d.ts
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/constants.ts
  subgraph/src/utils/entity.ts
  subgraph/templates/subgraph.template.yaml
  subgraph/tests/common.ts
  subgraph/tests/maci/maci.test.ts
  subgraph/tests/maci/utils.ts
  subgraph/tests/poll/poll.test.ts
  subgraph/tests/poll/utils.ts
  subgraph/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(poll.sol): pad zeroes to the maximum size of batch
  contracts/contracts/Poll.sol
  contracts/tests/Poll.test.ts
  core/ts/Poll.ts
  core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(subgraph): add version and files for package.json
  subgraph/package.json
Due: none

feat(contracts): add zupass gatekeeper and simplify tasks
  contracts/contracts/gatekeepers/zupass/ZupassGatekeeper.sol
  contracts/contracts/gatekeepers/zupass/ZupassGroth16Verifier.sol
  contracts/deploy-config-example.json
  contracts/package.json
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/deploy/maci/09-maci.ts
  contracts/tasks/helpers/numericParser.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/process_0.json
  contracts/tasks/runner/prove.ts
  contracts/tasks/tally_0.json
  contracts/tests/ZupassGatekeeper.test.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

chore(release): publish 1.2.4
  CHANGELOG.md
  circuits/CHANGELOG.md
  circuits/package.json
  cli/CHANGELOG.md
  cli/package.json
  contracts/CHANGELOG.md
  contracts/package.json
  contracts/tasks/process_0.json
  contracts/tasks/tally_0.json
  coordinator/CHANGELOG.md
  coordinator/package.json
  core/CHANGELOG.md
  core/package.json
  crypto/CHANGELOG.md
  crypto/package.json
  domainobjs/CHANGELOG.md
  domainobjs/package.json
  integrationTests/CHANGELOG.md
  integrationTests/package.json
  lerna.json
  package.json
  pnpm-lock.yaml
  website/CHANGELOG.md
  website/package.json
Due: none

fix(subgraph): remove user-polls relation
  subgraph/schemas/schema.v1.graphql
  subgraph/src/maci.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(docs): fixed typos
  website/versioned_docs/version-v2.0_alpha/quick-start/poll-finalization.md
Due: none

docs(typo-fix): typo fixc
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
Due: none

docs(docs): added comments
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/Gatekeepers.md
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
  website/versioned_docs/version-v2.0_alpha/quick-start/poll-finalization.md
Due: none

docs(quickstart-and-gatekeepers): improved quickstart and gatekeepers
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/Gatekeepers.md
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
  website/versioned_docs/version-v2.0_alpha/quick-start/poll-finalization.md
Due: none

docs(quick-fixes): added gitcoin gatekeeper
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
Due: none

fix(cli-signup): added comments
  cli/ts/commands/signup.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli-signup): changed validation for the signup data and voice credit data
  cli/ts/commands/signup.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
