Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

Update subgraph/src/poll.ts
  subgraph/src/poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: typecasting error in
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: fix typos
  CHANGELOG.md
  cli/CHANGELOG.md
  contracts/contracts/gatekeepers/hatsGatekeepers/HatsGatekeeperBase.sol
  core/CHANGELOG.md
Due: prettier --ignore-unknown --write

fix(cli): fix cli vkRegistry typo
  cli/ts/commands/proveOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contract): fix vkRegistryContract typo
  contracts/tasks/helpers/Prover.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/prove.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(diagram): add contract architecture diagram
  website/static/img/contracts.svg
  website/versioned_docs/version-v1.x/contracts.md
Due: none

fix(build): add missing typescript dependency for integration tests package
  integrationTests/package.json
  pnpm-lock.yaml
Due: none

fix: minor type issue for @zk-kit/eddsa-poseidon
  crypto/ts/keys.ts
  domainobjs/ts/commands/PCommand.ts
Due: prettier --ignore-unknown --write, eslint --fix

revert(crypto): revert @zk-kit/eddsa-poseidon back to 0.5.1
  crypto/package.json
  pnpm-lock.yaml
Due: none

chore(website): update docusaurus missing packages
  pnpm-lock.yaml
  website/package.json
Due: none

chore(build): move docusaurus deps from dev deps
  pnpm-lock.yaml
  website/package.json
Due: none

chore: use non-zero start and end blocks for proof generation
  cli/ts/commands/genProofs.ts
  contracts/contracts/Poll.sol
  contracts/deploy-config-example.json
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/prove.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(genlocalstate): add start block calculation on genLocalState cli command
  cli/tests/e2e/e2e.test.ts
  cli/ts/commands/genLocalState.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(keys): update maci keys in docs and scripts
  cli/testScript.sh
  integrationTests/ts/__tests__/utils/constants.ts
  website/versioned_docs/version-v1.x/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

feat(cli): add start block for signup event parsing
  cli/ts/commands/genLocalState.ts
  cli/ts/commands/genProofs.ts
  cli/ts/commands/signup.ts
  cli/ts/utils/interfaces.ts
  contracts/tasks/helpers/ProofGenerator.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: unify maci address arguments
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/tests/e2e/e2e.subsidy.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/tests/unit/publish.test.ts
  cli/ts/commands/genLocalState.ts
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
  cli/ts/commands/publish.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  integrationTests/ts/__tests__/integration.test.ts
  website/versioned_docs/version-v1.x/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

fix: use relative links
  README.md
  core/README.md
  website/blog/2024-02-28-maci-v1.2.0.md
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/integrating.md
  website/versioned_docs/version-v1.x/key-change.md
  website/versioned_docs/version-v1.x/poll-types.md
  website/versioned_docs/version-v1.x/testing-in-detail.md
  website/versioned_docs/version-v1.x/testing.md
  website/versioned_docs/version-v1.x/topup.md
  website/versioned_docs/version-v1.x/versioning.md
  website/versioned_docs/version-v1.x/workflow.md
Due: none

feat(contracts): tally qv and non-qv optimisations
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/constants.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/ts/commands/deploy.ts
  cli/ts/commands/deployPoll.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  cli/ts/utils/verifiers.ts
  contracts/contracts/MACI.sol
  contracts/contracts/Tally.sol
  contracts/contracts/TallyFactory.sol
  contracts/contracts/TallyNonQv.sol
  contracts/contracts/TallyNonQvFactory.sol
  contracts/contracts/interfaces/ITallyFactory.sol
  contracts/tasks/deploy/maci/08-tallyFactory.ts
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/Prover.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/prove.ts
  contracts/tests/EASGatekeeper.test.ts
  contracts/tests/HatsGatekeeper.test.ts
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/SignUpGatekeeper.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/utils.ts
  contracts/ts/deploy.ts
  contracts/ts/types.ts
  integrationTests/ts/__tests__/integration.test.ts
  integrationTests/ts/__tests__/maci-keys.test.ts
  website/versioned_docs/version-v1.x/cli.md
  website/versioned_docs/version-v1.x/poll-types.md
Due: prettier --ignore-unknown --write, eslint --fix

feat(contract): support qv and non-qv verification keys
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/ts/commands/checkVerifyingKeys.ts
  cli/ts/commands/proveOnChain.ts
  cli/ts/commands/setVerifyingKeys.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/MessageProcessorFactory.sol
  contracts/contracts/Tally.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/interfaces/IMPFactory.sol
  contracts/contracts/interfaces/IVkRegistry.sol
  contracts/tasks/deploy/maci/10-vkRegistry.ts
  contracts/tasks/helpers/Prover.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/VkRegistry.test.ts
  contracts/ts/constants.ts
  contracts/ts/index.ts
  website/versioned_docs/version-v1.2/cli.md
  website/versioned_docs/version-v1.3_alpha/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

chore: bump docusaurus deps
  pnpm-lock.yaml
  website/package.json
Due: none

fix: remove se flag in testscript
  cli/testScript.sh
Due: none

docs(update command-line interface docs): update the Subcommands of the cli docs
  website/versioned_docs/version-v1.3_alpha/cli.md
Due: none

chore: add qv and non-qv key setup during deploy
  cli/testScript.sh
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/constants.ts
  cli/ts/commands/setVerifyingKeys.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  contracts/contracts/Tally.sol
  contracts/contracts/VkRegistry.sol
  contracts/deploy-config-example.json
  contracts/tasks/deploy/maci/10-vkRegistry.ts
  contracts/tests/VkRegistry.test.ts
  contracts/tests/constants.ts
  integrationTests/ts/__tests__/integration.test.ts
  website/versioned_docs/version-v1.3_alpha/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

feat: use mode instead of flag for voting option
  cli/ts/commands/deployPoll.ts
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/MessageProcessorFactory.sol
  contracts/contracts/Tally.sol
  contracts/contracts/TallyFactory.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/interfaces/IMPFactory.sol
  contracts/contracts/interfaces/ITallyFactory.sol
  contracts/contracts/interfaces/IVkRegistry.sol
  contracts/contracts/utilities/DomainObjs.sol
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/Prover.ts
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  integrationTests/ts/__tests__/maci-keys.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): contracts optimizations
  contracts/contracts/Poll.sol
  contracts/contracts/Tally.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/crypto/Pairing.sol
Due: prettier --ignore-unknown --write

docs(updated v1.2.0 cli subcommands): updated the subcommands for the v1.2.0 cli page
  website/versioned_docs/version-v1.2/cli.md
Due: none

chore(contracts): get rid of bash scripts for prebuild command
  contracts/package.json
  contracts/scripts/compileSol.sh
  contracts/scripts/compileSol.ts
  contracts/scripts/writeMerkleZeroesContracts.sh
  contracts/ts/buildPoseidon.ts
  contracts/ts/genZerosContract.ts
  contracts/tsconfig.build.json
  contracts/tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

refactor(contracts): optimize contract tasks and scripts
  contracts/contracts/gatekeepers/HatsGatekeeperBase.sol
  contracts/contracts/gatekeepers/HatsGatekeeperMultiple.sol
  contracts/contracts/gatekeepers/HatsGatekeeperSingle.sol
  contracts/scripts/compileSol.ts
  contracts/tasks/helpers/Deployment.ts
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/ts/abi.ts
  contracts/ts/constants.ts
  contracts/ts/deploy.ts
  contracts/ts/deployer.ts
  contracts/ts/genEmptyBallotRootsContract.ts
  contracts/ts/genMaciState.ts
  contracts/ts/genZerosContract.ts
  contracts/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: add typedoc folder to .gitignore and use pnpm v8 for ci
  .eslintrc.js
  .github/workflows/benchmarks.yml
  .github/workflows/checks.yml
  .github/workflows/circuit-build.yml
  .github/workflows/commitlint.yml
  .github/workflows/contracts-build.yml
  .github/workflows/core-build.yml
  .github/workflows/crypto-build.yml
  .github/workflows/domainobjs-build.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly-ceremony.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/slither.yml
  pnpm-lock.yaml
  website/.gitignore
  website/docusaurus.config.ts
  website/src/scripts/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(added recommendations): added recommendations to note
  website/versioned_docs/version-v1.2/integrating.md
  website/versioned_docs/version-v1.3_alpha/integrating.md
Due: none

docs(update integrating in v1.2): updated note about QV in v1.2 note
  website/versioned_docs/version-v1.2/integrating.md
Due: none

docs(add note about non qv on integrating): added a note about running non QV on Integratin page
  website/versioned_docs/version-v1.3_alpha/integrating.md
Due: none

docs: update integrating docs
  website/versioned_docs/version-v1.2/integrating.md
  website/versioned_docs/version-v1.3_alpha/integrating.md
Due: none

chore(contracts): use deployment helper for deploy commands
  contracts/ts/deploy.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update troubleshooting doc
  website/src/scripts/setupTypedoc.ts
  website/versioned_docs/version-v1.3_alpha/troubleshooting.md
Due: prettier --ignore-unknown --write, eslint --fix

fix: tests for hats gatekeeper and ownable
  contracts/tests/HatsGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
