Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

docs(case-studies): added eth tgu and eth mx
  apps/website/versioned_docs/version-v2.x/case-studies.md
Due: none

docs(case-studies): added eth tgu and eth mx (#2022)
  apps/website/versioned_docs/version-v2.x/case-studies.md
Due: none

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

feat(relayer): relay messages onchain
  .github/workflows/relayer-build.yml
  apps/relayer/package.json
  apps/relayer/ts/messageBatch/__tests__/messageBatch.service.test.ts
  apps/relayer/ts/messageBatch/messageBatch.service.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat: force the same key for each poll
  packages/circuits/circom/anon/pollJoining.circom
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/circuits/ts/__tests__/ProcessMessages.test.ts
  packages/circuits/ts/__tests__/TallyVotes.test.ts
  packages/circuits/ts/types.ts
  packages/cli/tests/e2e/e2e.test.ts
  packages/cli/tests/e2e/keyChange.test.ts
  packages/cli/tests/unit/joinPoll.test.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
  packages/integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: force the same key for each poll (#2063)
  packages/circuits/circom/anon/pollJoining.circom
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/circuits/ts/__tests__/ProcessMessages.test.ts
  packages/circuits/ts/__tests__/TallyVotes.test.ts
  packages/circuits/ts/types.ts
  packages/cli/tests/e2e/e2e.test.ts
  packages/cli/tests/e2e/keyChange.test.ts
  packages/cli/tests/unit/joinPoll.test.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
  packages/integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: sdk functions for poll and verification
  packages/cli/package.json
  packages/cli/ts/index.ts
  packages/sdk/.eslintrc.js
  packages/sdk/.gitignore
  packages/sdk/.npmignore
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/ts/index.ts
  packages/sdk/ts/poll.ts
  packages/sdk/ts/tallyCommitments.ts
  packages/sdk/ts/utils/contracts.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/interfaces.ts
  packages/sdk/ts/utils/trees.ts
  packages/sdk/ts/utils/verifiers.ts
  packages/sdk/ts/verify.ts
  packages/sdk/tsconfig.build.json
  packages/sdk/tsconfig.json
  packages/sdk/typedoc.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor: user functions
  apps/website/src/scripts/setupTypedoc.ts
  packages/cli/ts/index.ts
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/ts/index.ts
  packages/sdk/ts/user.ts
  packages/sdk/ts/utils/constants.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/interfaces.ts
  packages/sdk/ts/utils/user.ts
  packages/sdk/ts/utils/verifiers.ts
  packages/sdk/ts/verify.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor: user sdk (#2064)
  apps/website/src/scripts/setupTypedoc.ts
  packages/cli/package.json
  packages/cli/ts/index.ts
  packages/sdk/.eslintrc.js
  packages/sdk/.gitignore
  packages/sdk/.npmignore
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/ts/index.ts
  packages/sdk/ts/poll.ts
  packages/sdk/ts/tallyCommitments.ts
  packages/sdk/ts/user.ts
  packages/sdk/ts/utils/constants.ts
  packages/sdk/ts/utils/contracts.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/interfaces.ts
  packages/sdk/ts/utils/trees.ts
  packages/sdk/ts/utils/user.ts
  packages/sdk/ts/utils/verifiers.ts
  packages/sdk/ts/verify.ts
  packages/sdk/tsconfig.build.json
  packages/sdk/tsconfig.json
  packages/sdk/typedoc.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(circuits): add poll joined circuit - [x] Add poll joined circuit - [x] Add poll joined vk
  packages/circuits/circom/anon/poll.circom
  packages/circuits/circom/circuits.json
  packages/circuits/package.json
  packages/circuits/ts/__tests__/PollJoined.test.ts
  packages/circuits/ts/types.ts
  packages/cli/tests/ceremony-params/ceremonyParams.test.ts
  packages/cli/tests/constants.ts
  packages/cli/ts/commands/checkVerifyingKeys.ts
  packages/cli/ts/commands/extractVkToFile.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/commands/setVerifyingKeys.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/VkRegistry.sol
  packages/contracts/contracts/interfaces/IVkRegistry.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/maci/08-vkRegistry.ts
  packages/contracts/tests/Poll.test.ts
  packages/contracts/tests/Tally.test.ts
  packages/contracts/tests/VkRegistry.test.ts
  packages/contracts/tests/constants.ts
  packages/core/ts/Poll.ts
  packages/core/ts/index.ts
  packages/core/ts/utils/types.ts
  packages/core/ts/utils/utils.ts
  packages/integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: verifying keys sdk
  packages/cli/ts/commands/checkVerifyingKeys.ts
  packages/sdk/package.json
  packages/sdk/ts/index.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/interfaces.ts
  packages/sdk/ts/utils/params.ts
  packages/sdk/ts/utils/utils.ts
  packages/sdk/ts/verifyingKeys.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor: cleanup zk related functions
  packages/circuits/package.json
  packages/circuits/ts/genZkeys.ts
  packages/circuits/ts/index.ts
  packages/circuits/ts/types.ts
  packages/circuits/ts/utils.ts
  packages/cli/ts/commands/checkVerifyingKeys.ts
  packages/cli/ts/commands/extractVkToFile.ts
  packages/cli/ts/commands/genProofs.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/commands/setVerifyingKeys.ts
  packages/cli/ts/sdk/index.ts
  packages/contracts/package.json
  packages/contracts/tasks/deploy/maci/08-vkRegistry.ts
  packages/contracts/tasks/helpers/ProofGenerator.ts
  packages/contracts/ts/index.ts
  packages/contracts/ts/proofs.ts
  packages/contracts/ts/types.ts
  packages/contracts/ts/utils.ts
  packages/sdk/package.json
  packages/sdk/ts/index.ts
  packages/sdk/ts/poll.ts
  packages/sdk/ts/tallyCommitments.ts
  packages/sdk/ts/user.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/params.ts
  packages/sdk/ts/utils/types.ts
  packages/sdk/ts/utils/user.ts
  packages/sdk/ts/utils/utils.ts
  packages/sdk/ts/utils/verifiers.ts
  packages/sdk/ts/verify.ts
  packages/sdk/ts/verifyingKeys.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(relayer): add auth guard for message publishing
  .github/workflows/relayer-build.yml
  apps/relayer/.env.example
  apps/relayer/.gitignore
  apps/relayer/package.json
  apps/relayer/tests/constants.ts
  apps/relayer/tests/messages.test.ts
  apps/relayer/ts/message/__tests__/message.guard.test.ts
  apps/relayer/ts/message/__tests__/utils.ts
  apps/relayer/ts/message/message.controller.ts
  apps/relayer/ts/message/message.dto.ts
  apps/relayer/ts/message/message.guard.ts
  apps/relayer/ts/message/message.repository.ts
  apps/relayer/ts/message/message.service.ts
  apps/relayer/ts/messageBatch/__tests__/messageBatch.service.test.ts
  apps/relayer/ts/messageBatch/__tests__/utils.ts
  apps/relayer/ts/messageBatch/messageBatch.dto.ts
  apps/relayer/ts/messageBatch/messageBatch.repository.ts
  apps/relayer/ts/messageBatch/messageBatch.service.ts
  package.json
  packages/circuits/circom/anon/poll.circom
  packages/circuits/ts/__tests__/PollJoined.test.ts
  packages/circuits/ts/types.ts
  packages/cli/ts/commands/index.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/trees/LazyIMT.sol
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor: verifying keys sdk (#2070)
  packages/cli/ts/commands/checkVerifyingKeys.ts
  packages/sdk/package.json
  packages/sdk/ts/index.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/interfaces.ts
  packages/sdk/ts/utils/params.ts
  packages/sdk/ts/utils/utils.ts
  packages/sdk/ts/verifyingKeys.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(relayer): fetch message batches
  apps/relayer/jest.config.json
  apps/relayer/package.json
  apps/relayer/tests/deploy.ts
  apps/relayer/tests/messageBatches.test.ts
  apps/relayer/tests/messages.test.ts
  apps/relayer/ts/jest/setup.ts
  apps/relayer/ts/messageBatch/__tests__/messageBatch.controller.test.ts
  apps/relayer/ts/messageBatch/__tests__/messageBatch.service.test.ts
  apps/relayer/ts/messageBatch/__tests__/utils.ts
  apps/relayer/ts/messageBatch/__tests__/validation.test.ts
  apps/relayer/ts/messageBatch/messageBatch.controller.ts
  apps/relayer/ts/messageBatch/messageBatch.dto.ts
  apps/relayer/ts/messageBatch/messageBatch.module.ts
  apps/relayer/ts/messageBatch/messageBatch.repository.ts
  apps/relayer/ts/messageBatch/messageBatch.service.ts
  apps/relayer/ts/messageBatch/validation.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: vote sdk
  apps/relayer/package.json
  apps/relayer/tests/deploy.ts
  apps/relayer/tests/messageBatches.test.ts
  apps/relayer/tests/messages.test.ts
  apps/relayer/ts/message/__tests__/message.guard.test.ts
  apps/relayer/ts/message/message.guard.ts
  packages/cli/ts/commands/publish.ts
  packages/sdk/ts/index.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/types.ts
  packages/sdk/ts/utils/utils.ts
  packages/sdk/ts/verifyingKeys.ts
  packages/sdk/ts/votes.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: vote sdk (#2089)
  apps/relayer/package.json
  apps/relayer/tests/deploy.ts
  apps/relayer/tests/messageBatches.test.ts
  apps/relayer/tests/messages.test.ts
  apps/relayer/ts/message/__tests__/message.guard.test.ts
  apps/relayer/ts/message/message.guard.ts
  packages/cli/ts/commands/publish.ts
  packages/sdk/ts/index.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/types.ts
  packages/sdk/ts/utils/utils.ts
  packages/sdk/ts/verifyingKeys.ts
  packages/sdk/ts/votes.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: allow to fetch state index from contracts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/interfaces/IMACI.sol
  packages/contracts/contracts/interfaces/IPoll.sol
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: allow to fetch state index from contracts (#2092)
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/interfaces/IMACI.sol
  packages/contracts/contracts/interfaces/IPoll.sol
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sdk): change sdk package structure
  packages/cli/ts/commands/joinPoll.ts
  packages/sdk/ts/index.ts
  packages/sdk/ts/keys/index.ts
  packages/sdk/ts/keys/types.ts
  packages/sdk/ts/keys/verifyingKeys.ts
  packages/sdk/ts/poll/index.ts
  packages/sdk/ts/poll/poll.ts
  packages/sdk/ts/poll/types.ts
  packages/sdk/ts/tally/commitments.ts
  packages/sdk/ts/tally/index.ts
  packages/sdk/ts/tally/types.ts
  packages/sdk/ts/tally/utils.ts
  packages/sdk/ts/tally/verification.ts
  packages/sdk/ts/trees/index.ts
  packages/sdk/ts/trees/stateTree.ts
  packages/sdk/ts/trees/types.ts
  packages/sdk/ts/user/index.ts
  packages/sdk/ts/user/types.ts
  packages/sdk/ts/user/user.ts
  packages/sdk/ts/user/utils.ts
  packages/sdk/ts/utils/index.ts
  packages/sdk/ts/utils/trees.ts
  packages/sdk/ts/utils/types.ts
  packages/sdk/ts/utils/utils.ts
  packages/sdk/ts/vote/index.ts
  packages/sdk/ts/vote/types.ts
  packages/sdk/ts/vote/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix typos in CHANGELOG.md
  CHANGELOG.md
Due: none

Fix typos in packages/crypto/CHANGELOG.md
  packages/crypto/CHANGELOG.md
Due: none

Fix typos in packages/contracts/CHANGELOG.md
  packages/contracts/CHANGELOG.md
Due: none

Fix typos in packages/circuits/CHANGELOG.md
  packages/circuits/CHANGELOG.md
Due: none

chore: update contracts interfaces
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/interfaces/IMACI.sol
  packages/contracts/contracts/interfaces/IPoll.sol
Due: prettier --ignore-unknown --write

Update LICENSE
  LICENSE
Due: none

chore: add prettier fixes after update
  apps/website/src/pages/index.module.css
Due: none
