Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

chore(publishing): remove bash script for empty ballot roots contract
  .github/workflows/contracts-build.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly-ceremony.yml
  .github/workflows/release.yml
  circuits/package-lock.json
  circuits/ts/__tests__/utils/constants.ts
  cli/package-lock.json
  contracts/package-lock.json
  contracts/scripts/compileSol.sh
  contracts/scripts/writeEmptyBallotRoots.sh
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/SignUpGatekeeper.test.ts
  contracts/ts/genEmptyBallotRootsContract.ts
  core/package-lock.json
  core/ts/index.ts
  domainobjs/package-lock.json
  integrationTests/package-lock.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(publish): ensure we commit unstaged files first
  .github/workflows/e2e.yml
  .github/workflows/release.yml
Due: none

feat: modify cli/.env.template and allow hardhat.config.ts to read env variables
  cli/.env.template
  cli/hardhat.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: bump docusaurus packages
  website/package-lock.json
  website/package.json
Due: none

chore(core): remove unnecessary code
  core/ts/__tests__/e2e.test.ts
  core/ts/__tests__/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(core): export `TestHarness` from core test utils
  core/ts/Poll.ts
  core/ts/__tests__/MaciState.test.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/e2e.test.ts
  core/ts/__tests__/utils/constants.ts
  core/ts/__tests__/utils/utils.ts
  core/ts/utils/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(circuits): refactor and add tests for the circom circuits
  circuits/circom/tallyVotes.circom
  circuits/circom/trees/checkRoot.circom
  circuits/circom/trees/incrementalMerkleTree.circom
  circuits/circom/trees/incrementalQuinTree.circom
  circuits/package-lock.json
  circuits/package.json
  circuits/ts/__tests__/Ecdh.test.ts
  circuits/ts/__tests__/Hasher.test.ts
  circuits/ts/__tests__/IncrementalQuinTree.test.ts
  circuits/ts/__tests__/MessageToCommand.test.ts
  circuits/ts/__tests__/MessageValidator.test.ts
  circuits/ts/__tests__/PrivToPubKey.test.ts
  circuits/ts/__tests__/ProcessMessages.test.ts
  circuits/ts/__tests__/QuinCheckRoot.test.ts
  circuits/ts/__tests__/Splicer.test.ts
  circuits/ts/__tests__/StateLeafAndBallotTransformer.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
  circuits/ts/__tests__/UnpackElement.test.ts
  circuits/ts/__tests__/VerifySignature.test.ts
  circuits/ts/__tests__/utils/constants.ts
  circuits/ts/types/circom_tester.d.ts
  contracts/tests/AccQueue.test.ts
  contracts/tests/AccQueueBenchmark.test.ts
  crypto/ts/__tests__/AccQueue.test.ts
  crypto/ts/__tests__/Utils.test.ts
  domainobjs/ts/__tests__/verifyingKey.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(blog-post): fixed header in v1.0 release post
  website/blog/2021-10-12-maci-v1.md
Due: none

chore: use version ^1.1.2 for local packages
  circuits/package.json
  cli/package.json
  contracts/package.json
  core/package.json
  domainobjs/package.json
  integrationTests/package.json
  pnpm-lock.yaml
Due: none

chore: enable codeql and workflows cleanup
  .github/CODEOWNERS
  .github/workflows/codeql.yml
  .github/workflows/contracts-build.yml
  .github/workflows/core-build.yml
  .github/workflows/crypto-build.yml
  .github/workflows/domainobjs-build.yml
  .prettierignore
  website/versioned_docs/version-v1.x/versioning.md
Due: none

refactor(contracts): optimize code by using immutable variables are removing redundant code
  .github/scripts/ceremony-param-tests-c-witness.sh
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/Subsidy.sol
  contracts/contracts/Tally.sol
  website/versioned_docs/version-v1.x/contracts.md
Due: prettier --ignore-unknown --write

chore: use pnpm instead of npx
  .github/workflows/release.yml
Due: none
