Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

feat: add subgraph module for indexing data
  .eslintignore
  cli/ts/commands/deploy.ts
  cli/ts/utils/constants.ts
  cli/ts/utils/storage.ts
  lerna.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  subgraph/.gitignore
  subgraph/abis/MACI.json
  subgraph/abis/MessageProcessor.json
  subgraph/abis/Poll.json
  subgraph/docker-compose.yaml
  subgraph/networks.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/scripts/generateSubgraph.js
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/constants.ts
  subgraph/src/utils/helper.ts
  subgraph/subgraph.template.yaml
  subgraph/tsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(subgraph): update
  cli/testScript.sh
Due: none

fix(circuits): enforce use of stateIndex from message
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/circom/stateLeafAndBallotTransformer.circom
  circuits/ts/__tests__/ProcessMessages.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/ts/commands/genProofs.ts
  core/ts/Poll.ts
  crypto/ts/index.ts
  domainobjs/ts/commands/PCommand.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(circuits): fix coordinator censoring by passing currentVoteWeight = 0
  circuits/circom/messageValidator.circom
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/circom/stateLeafAndBallotTransformerNonQv.circom
  circuits/ts/__tests__/ProcessMessages.test.ts
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(circuits): fix coordinator censoring votes by passing an invalid currentVoteWeight
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/ts/__tests__/ProcessMessages.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(circuits): ensure we account for correct num signups in messageValidator
  circuits/circom/messageValidator.circom
  circuits/circom/messageValidatorNonQv.circom
Due: none

fix(contracts): enforce msgType = 1 for vote messages at the contract level
  contracts/contracts/Poll.sol
  contracts/contracts/interfaces/IPoll.sol
Due: prettier --ignore-unknown --write

refactor(contracts): add audit auggestions
  contracts/contracts/MACI.sol
  contracts/contracts/Poll.sol
  contracts/contracts/utilities/Utilities.sol
Due: prettier --ignore-unknown --write

chore(circuits): remove todo messages
  circuits/circom/messageValidator.circom
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
Due: none

refactor(contracts): revisit functions visibility and inheritance
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/Tally.sol
  contracts/contracts/TallyFactory.sol
  contracts/contracts/TallyNonQv.sol
  contracts/contracts/TallyNonQvFactory.sol
  contracts/contracts/interfaces/IPollFactory.sol
Due: prettier --ignore-unknown --write

fix(contracts): prevent user DoS the stateAq tree merging
  contracts/contracts/MACI.sol
  contracts/contracts/Poll.sol
  contracts/tests/MACI.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(contracts): add public to Tally.isTallied
  contracts/contracts/Tally.sol
Due: prettier --ignore-unknown --write

feat(cli): improve cli integration ux
  cli/testScript.sh
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/ts/commands/index.ts
  cli/ts/commands/signup.ts
  cli/ts/index.ts
  cli/ts/sdk/index.ts
  cli/ts/utils/index.ts
  cli/ts/utils/interfaces.ts
  contracts/contracts/MACI.sol
  contracts/deploy-config-example.json
  contracts/ts/genMaciState.ts
  integrationTests/ts/__tests__/integration.test.ts
  website/versioned_docs/version-v1.x/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

feat: eslint, abis, generation scripts
  .eslintignore
  cli/testScript.sh
  cli/ts/commands/deploy.ts
  cli/ts/utils/constants.ts
  cli/ts/utils/storage.ts
  pnpm-lock.yaml
  subgraph/.eslintrc.js
  subgraph/.gitignore
  subgraph/abis/MACI.json
  subgraph/abis/MessageProcessor.json
  subgraph/abis/Poll.json
  subgraph/networks.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/scripts/generateSubgraph.js
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/helper.ts
  subgraph/subgraph.yaml
  subgraph/tsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli): run all the tests for package
  cli/tests/e2e/e2e.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update homepage copy
  website/src/components/HomepageFeatures/index.tsx
  website/src/pages/index.tsx
Due: none

docs: bump homepage copy font size
  website/src/components/HomepageFeatures/styles.module.css
  website/src/pages/index.module.css
Due: none

feat(cli): add get poll cli command
  cli/testScript.sh
  cli/tests/unit/poll.test.ts
  cli/ts/commands/index.ts
  cli/ts/commands/poll.ts
  cli/ts/commands/signup.ts
  cli/ts/index.ts
  cli/ts/sdk/index.ts
  cli/ts/utils/index.ts
  cli/ts/utils/interfaces.ts
  contracts/contracts/MACI.sol
  contracts/ts/genMaciState.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: remove eslint disable rules
  subgraph/.eslintrc.js
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
