Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

fix(contracts): correctly deploy test contracts
  contracts/tests/HatsGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(HatsGatekeepers): adds natspec to IHats.sol
  contracts/contracts/interfaces/IHats.sol
Due: prettier --ignore-unknown --write

feat(HatsGatekeepers): add zero-address check to `setMaciInstance()`
  contracts/contracts/gatekeepers/hatsGatekeepers/HatsGatekeeperBase.sol
  contracts/tests/HatsGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(HatsGatekeepers): split into one file per contract per @0xmad suggestion
  contracts/contracts/gatekeepers/HatsGatekeepers.sol
  contracts/contracts/gatekeepers/hatsGatekeepers/HatsGatekeeperBase.sol
  contracts/contracts/gatekeepers/hatsGatekeepers/HatsGatekeeperMultiple.sol
  contracts/contracts/gatekeepers/hatsGatekeepers/HatsGatekeeperSingle.sol
  contracts/contracts/interfaces/IHats.sol
  contracts/contracts/mocks/MockHatsProtocol.sol
Due: prettier --ignore-unknown --write

fix(contracts): apply small changes suggested by @kittybest
  contracts/contracts/interfaces/IHats.sol
  contracts/contracts/mocks/MockHatsProtocol.sol
  contracts/tests/HatsGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(HatsGatekeepers): get hardhat forked network ci tests passing
  contracts/tests/HatsGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add numMessages, count numSignups in Poll
  .prettierignore
  pnpm-lock.yaml
  subgraph/schema.graphql
  subgraph/src/maci.ts
  subgraph/src/poll.ts
  subgraph/src/utils/helper.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add acc queue contract to deployed contracts
  contracts/tasks/deploy/maci/10-maci.ts
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/ContractStorage.ts
  contracts/tasks/helpers/ContractVerifier.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/verifyFull.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: update lock-file due to conflict pkg
  pnpm-lock.yaml
Due: none

chore(crypto): minor type fix
  crypto/ts/keys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(docs): fix inaccurate cli instructions
  website/versioned_docs/version-v1.x/cli.md
Due: none

docs(contracts): update contracts documentation to reflect latest development
  website/versioned_docs/version-v1.x/contracts.md
Due: none

docs: update the deployment docs as well as installation/circuits
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/contracts.md
  website/versioned_docs/version-v1.x/deployment.md
  website/versioned_docs/version-v1.x/integrating.md
Due: none

fix(contracts): use for-loop instead of async promise
  contracts/tests/MACI.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: change subgrah network path constant
  cli/ts/utils/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add typedoc script for contracts package
  .github/scripts/website.sh
  .github/workflows/gh-pages.yml
  cli/package.json
  core/package.json
  crypto/package.json
  domainobjs/package.json
  package.json
Due: none

feat(cli): add provider fallback for poll data sdk method
  cli/tests/unit/poll.test.ts
  cli/ts/commands/poll.ts
  cli/ts/utils/interfaces.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli): genLocalState '-o' arg is a string and does not need parsing
  cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: resolve lock file
  cli/ts/utils/constants.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

test(crypto): add `InertSubTtree` unit test to improve coverage
  crypto/ts/__tests__/AccQueue.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(crypto): add `copy` unit test to improve coverage
  crypto/ts/__tests__/AccQueue.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: use relative links
  README.md
  core/README.md
  website/blog/2024-02-28-maci-v1.2.0.md
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/integrating.md
  website/versioned_docs/version-v1.x/key-change.md
  website/versioned_docs/version-v1.x/poll-types.md
  website/versioned_docs/version-v1.x/testing-in-detail.md
  website/versioned_docs/version-v1.x/testing.md
  website/versioned_docs/version-v1.x/topup.md
  website/versioned_docs/version-v1.x/versioning.md
  website/versioned_docs/version-v1.x/workflow.md
Due: none

docs(crypto): fix typo
  crypto/ts/__tests__/AccQueue.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(crypto): add unit test for `copy` and `insertSubTree` method in AccQueue (#1321)
  crypto/ts/__tests__/AccQueue.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): update hats gatekeeper ownable usage
  contracts/contracts/gatekeepers/hatsGatekeepers/HatsGatekeeperBase.sol
Due: prettier --ignore-unknown --write

fix: tests for hats gatekeeper and ownable
  contracts/tests/HatsGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update subgraph/src/poll.ts
  subgraph/src/poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update subgraph/src/maci.ts
  subgraph/src/maci.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
