Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

docs: add documentation entry for already deployed smart contracts
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/DeployedContracts.md
Due: none

docs: add documentation entry for already deployed smart contracts (#1586)
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/DeployedContracts.md
Due: none

fix(cli): fix vk commands flags
  cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli): fix vk commands flags (#1587)
  cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add deployment code for SemaphoreGatekeeper
  contracts/contracts/gatekeepers/SemaphoreGatekeeper.sol
  contracts/deploy-config-example.json
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/helpers/types.ts
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/Gatekeepers.md
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add deployment code for SemaphoreGatekeeper (#1588)
  contracts/contracts/gatekeepers/SemaphoreGatekeeper.sol
  contracts/deploy-config-example.json
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/helpers/types.ts
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/Gatekeepers.md
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
Due: prettier --ignore-unknown --write, eslint --fix

fix: export typechain instead of contract
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
  cli/ts/commands/proveOnChain.ts
  cli/ts/commands/setVerifyingKeys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: export typechain instead of contract (#1590)
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
  cli/ts/commands/proveOnChain.ts
  cli/ts/commands/setVerifyingKeys.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: avoid export prompt in cli/sdk
  cli/ts/commands/extractVkToFile.ts
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: avoid export prompt in cli/sdk (#1591)
  cli/ts/commands/extractVkToFile.ts
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: add revolutionsing public goods blog
  website/blog/2024-06-28-revolusioning-public-goods-funding.md
Due: none

docs: add revolutionsing public goods blog (#1589)
  website/blog/2024-06-28-revolusioning-public-goods-funding.md
Due: none

chore(dev-deps): bump typedoc-plugin-markdown to 4.1.0
  package.json
  pnpm-lock.yaml
Due: none

chore(dev-deps): bump docusaurus packages to 3.4.0
  domainobjs/README.md
  pnpm-lock.yaml
  website/docusaurus.config.ts
  website/package.json
  website/versioned_docs/version-v1.2/typedoc/domainobjs/index.md
Due: prettier --ignore-unknown --write, eslint --fix

docs: update contributing guide with squash info
  website/versioned_docs/version-v1.2/contributing/contributing.md
  website/versioned_docs/version-v2.0_alpha/contributing/contributing.md
Due: none

chore: add @types/snarkjs package
  circuits/package.json
  circuits/ts/proofs.ts
  circuits/ts/types.ts
  circuits/ts/types/snarkjs.d.ts
  cli/package.json
  cli/ts/utils/storage.ts
  contracts/tasks/deploy/maci/09-vkRegistry.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

docs: add more details regarding max values
  website/versioned_docs/version-v2.0_alpha/security/trusted-setup.md
Due: none

refactor(mergemessages): add some more changes about functions call which include mergemessages
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/tests/unit/poll.test.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/PollFactory.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/constants.ts
  coordinator/tests/app.test.ts
  core/ts/__tests__/MaciState.test.ts
  core/ts/__tests__/e2e.test.ts
  core/ts/__tests__/utils.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: add more details regarding max values (#1611)
  website/versioned_docs/version-v2.0_alpha/security/trusted-setup.md
Due: none

docs: add projects page to the doc website
  website/docusaurus.config.ts
  website/src/pages/projects.md
Due: prettier --ignore-unknown --write, eslint --fix

docs: add projects page to the doc website (#1612)
  website/docusaurus.config.ts
  website/src/pages/projects.md
Due: prettier --ignore-unknown --write, eslint --fix

test(all tests): fixing tests after refactoring code
  circuits/circom/core/qv/processMessages.circom
  circuits/ts/__tests__/ProcessMessages.test.ts
  contracts/tests/HatsGatekeeper.test.ts
  core/ts/Poll.ts
  core/ts/__tests__/MaciState.test.ts
  core/ts/__tests__/e2e.test.ts
  core/ts/__tests__/utils.test.ts
  core/ts/__tests__/utils/constants.ts
  core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update codeowners
  .github/CODEOWNERS
Due: none

fix(currentmessagebatchindex): fix message batch indexing
  core/ts/Poll.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/e2e.test.ts
  crypto/ts/AccQueue.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(circuit tests): refactor code for circuit testing
  circuits/circom/core/qv/processMessages.circom
  circuits/package.json
  circuits/ts/__tests__/CeremonyParams.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update codeowners (#1618)
  .github/CODEOWNERS
Due: none

feat(subgraph): store poll mode on subgraph
  contracts/contracts/MACI.sol
  contracts/deploy-config-example.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/helpers/constants.ts
  subgraph/schemas/schema.v1.graphql
  subgraph/src/maci.ts
  subgraph/templates/subgraph.template.yaml
  subgraph/tests/maci/maci.test.ts
  subgraph/tests/maci/utils.ts
  subgraph/tests/poll/poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(subgraph): store poll mode on subgraph (#1620)
  contracts/contracts/MACI.sol
  contracts/deploy-config-example.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/helpers/constants.ts
  subgraph/schemas/schema.v1.graphql
  subgraph/src/maci.ts
  subgraph/templates/subgraph.template.yaml
  subgraph/tests/maci/maci.test.ts
  subgraph/tests/maci/utils.ts
  subgraph/tests/poll/poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(ceremonyparams.test): correct constants for CeremonyParams test
  circuits/ts/__tests__/CeremonyParams.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(website): added maci wrapper quickstarter in the docs
  website/versioned_docs/version-v2.0_alpha/developers-references/maci-wrapper/QuickStartGuide.md
  website/versioned_docs/version-v2.0_alpha/developers-references/maci-wrapper/_category_.json
Due: none

feat(website): added maci wrapper quickstarter in the docs (#1624)
  website/versioned_docs/version-v2.0_alpha/developers-references/maci-wrapper/QuickStartGuide.md
  website/versioned_docs/version-v2.0_alpha/developers-references/maci-wrapper/_category_.json
Due: none

perf(processmessages.circom + contracts): optimize last batch padding, remove unused inputs
  circuits/circom/circuits.json
  circuits/circom/core/non-qv/processMessages.circom
  circuits/circom/core/qv/processMessages.circom
  circuits/circom/utils/non-qv/messageValidator.circom
  circuits/circom/utils/non-qv/stateLeafAndBallotTransformer.circom
  circuits/circom/utils/processMessagesInputHasher.circom
  circuits/circom/utils/qv/messageValidator.circom
  circuits/circom/utils/qv/stateLeafAndBallotTransformer.circom
  circuits/ts/__tests__/ProcessMessages.test.ts
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/tasks/helpers/Prover.ts
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(padlastbatch method): update doc comment
  contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

docs(poll.ts): remove stale comments
  circuits/circom/core/non-qv/processMessages.circom
  circuits/circom/core/qv/processMessages.circom
  contracts/contracts/Poll.sol
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(test comments): fix typos
  circuits/circom/utils/processMessagesInputHasher.circom
  contracts/tests/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci(treedepths mock): modify interface for mocked function
  subgraph/tests/common.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(ceremony params test): fix circuit inputs
  circuits/ts/__tests__/CeremonyParams.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(messagevalidator): fix function calls for messagevalidator circuit in tests
  circuits/ts/__tests__/MessageValidator.test.ts
  circuits/ts/__tests__/StateLeafAndBallotTransformer.test.ts
Due: prettier --ignore-unknown --write, eslint --fix
