Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

feat(cli): accept signer as parameter to cli commands
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/constants.ts
  cli/tests/e2e/e2e.subsidy.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/tests/unit/fundWallet.test.ts
  cli/tests/unit/timeTravel.test.ts
  cli/ts/commands/airdrop.ts
  cli/ts/commands/checkVerifyingKeys.ts
  cli/ts/commands/deploy.ts
  cli/ts/commands/deployPoll.ts
  cli/ts/commands/deployVkRegistry.ts
  cli/ts/commands/fundWallet.ts
  cli/ts/commands/genLocalState.ts
  cli/ts/commands/genProofs.ts
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
  cli/ts/commands/proveOnChain.ts
  cli/ts/commands/publish.ts
  cli/ts/commands/setVerifyingKeys.ts
  cli/ts/commands/signup.ts
  cli/ts/commands/timeTravel.ts
  cli/ts/commands/topup.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  cli/ts/utils/index.ts
  cli/ts/utils/interfaces.ts
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: add link to contract function
  website/versioned_docs/version-v1.x/workflow.md
Due: none

chore: update missing docusaurus deps
  pnpm-lock.yaml
  website/package.json
Due: none

docs(contracts): add documentation for deployment workflow
  contracts/hardhat.config.ts
  contracts/tasks/deploy/index.ts
  contracts/tasks/deploy/maci/01-constantInitialVoiceCreditProxy.ts
  contracts/tasks/deploy/maci/02-freeForAllSignUpGatekeeper.ts
  contracts/tasks/deploy/maci/03-verifier.ts
  contracts/tasks/deploy/maci/04-topupCredit.ts
  contracts/tasks/deploy/maci/05-poseidon.ts
  contracts/tasks/deploy/maci/06-pollFactory.ts
  contracts/tasks/deploy/maci/07-messageProcessorFactory.ts
  contracts/tasks/deploy/maci/08-tallyFactory.ts
  contracts/tasks/deploy/maci/09-subsidyFactory.ts
  contracts/tasks/deploy/maci/10-maci.ts
  contracts/tasks/helpers/ContractStorage.ts
  contracts/tasks/helpers/ContractVerifier.ts
  contracts/tasks/helpers/Deployment.ts
  contracts/tasks/helpers/constants.ts
  contracts/tasks/runner/deployFull.ts
  contracts/tasks/runner/verifyFull.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(core): add quiet flag to process messages to log errors
  cli/testScript.sh
  cli/ts/commands/genProofs.ts
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contracts): fix wrong tally processing check
  cli/tests/e2e/e2e.test.ts
  contracts/contracts/Tally.sol
  contracts/tests/Tally.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: fix word repetition
  website/src/pages/index.tsx
Due: none

chore(contract): add deploy script for eas gatekeeper
  .prettierignore
  contracts/.gitignore
  contracts/deploy-config-example.json
  contracts/hardhat.config.ts
  contracts/tasks/deploy/maci/01-constantInitialVoiceCreditProxy.ts
  contracts/tasks/deploy/maci/02-freeForAllSignUpGatekeeper.ts
  contracts/tasks/deploy/maci/02-gatekeepers.ts
  contracts/tasks/deploy/maci/10-maci.ts
  contracts/tasks/helpers/Deployment.ts
  contracts/tasks/helpers/constants.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/deployFull.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(qv): add optional flag to use quadratic voting or not in MACI
  circuits/circom/circuits.json
  circuits/circom/hasherSha256.circom
  circuits/circom/messageHasher.circom
  circuits/circom/messageToCommand.circom
  circuits/circom/messageValidatorNonQv.circom
  circuits/circom/poseidon/poseidonHashT3.circom
  circuits/circom/poseidon/poseidonHashT4.circom
  circuits/circom/poseidon/poseidonHashT5.circom
  circuits/circom/poseidon/poseidonHashT6.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/circom/stateLeafAndBallotTransformerNonQv.circom
  circuits/circom/subsidy.circom
  circuits/circom/tallyVotesNonQv.circom
  circuits/circom/trees/checkRoot.circom
  circuits/circom/trees/incrementalQuinTree.circom
  circuits/circom/unpackElement.circom
  circuits/ts/__tests__/ProcessMessages.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
  cli/package.json
  cli/tests/constants.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/ts/commands/genProofs.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  core/ts/Poll.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/e2e.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(non-qv): update docs to reflect the integration of non-quadratic voting
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/cli.md
  website/versioned_docs/version-v1.x/testing.md
Due: none

feat(tally): remove ballotsTallied event and add view function
  contracts/contracts/Tally.sol
  contracts/tests/Tally.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(cli): add relevant information in tally.json to simplify verify interface
  cli/ts/commands/genProofs.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(contracts): optimize publishMessage by using calldata and removing arg change
  contracts/contracts/Poll.sol
  contracts/contracts/interfaces/IPoll.sol
Due: prettier --ignore-unknown --write

feat(core): simplify processMessages and do not print logs for message[0]
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(contracts): optimize utilities.padAndHashMessage
  contracts/contracts/Poll.sol
  contracts/contracts/utilities/Utilities.sol
Due: prettier --ignore-unknown --write

chore: run prettier fix after bumping version
  circuits/tsconfig.json
  cli/tsconfig.json
  contracts/tsconfig.json
  core/tsconfig.json
  crypto/tsconfig.json
  domainobjs/tsconfig.json
  integrationTests/tsconfig.json
  tsconfig.json
  website/tsconfig.json
Due: none

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
