Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

fix: ensure we store all constructor args for the poll contract
  packages/contracts/tasks/deploy/poll/01-poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: ensure we store all constructor args for the poll contract (#1748)
  packages/contracts/tasks/deploy/poll/01-poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: blog cards corrected
  apps/website/blog/2021-10-12-maci-v1.md
  apps/website/blog/2022-09-22-maci-v1-technical-introduction.md
  apps/website/blog/2023-01-18-maci-v1.1.1.md
  apps/website/blog/2024-01-18-roadmap.md
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/blog/2024-04-10-roadmap-q2.md
  apps/website/blog/2024-05-08-ethdam.md
  apps/website/blog/2024-05-22-the-origins-of-maci.md
  apps/website/blog/2024-05-28-upcoming-grants.md
  apps/website/blog/2024-06-17-understanding-maci.md
  apps/website/blog/2024-06-21-deciphering-maci.md
  apps/website/blog/2024-06-28-revolusioning-public-goods-funding.md
  apps/website/blog/2024-07-23-q2-review.md
  apps/website/blog/2024-07-30-roadmap-q3.md
  apps/website/blog/2024-08-10-maci-v2.md
  apps/website/docusaurus.config.ts
  apps/website/package.json
  apps/website/src/css/card.module.css
  apps/website/src/pages/blogs.tsx
  apps/website/src/plugins/blog-plugin/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(circuits): add constraint info print script
  packages/circuits/package.json
  packages/circuits/ts/info.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

chore(release): publish 2.1.0
  CHANGELOG.md
  apps/subgraph/CHANGELOG.md
  apps/subgraph/package.json
  apps/website/CHANGELOG.md
  apps/website/package.json
  lerna.json
  package.json
  packages/circuits/CHANGELOG.md
  packages/circuits/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/integrationTests/CHANGELOG.md
  packages/integrationTests/package.json
  pnpm-lock.yaml
Due: none

feat: blog cards changed modified bloglist to blog posts same size
  apps/website/src/css/card.module.css
Due: none

feat: blog cards sorted blog posts to display newest first
  apps/website/src/plugins/blog-plugin/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: blog cards added react types to package
  apps/website/package.json
Due: none

style(typo): inclusion proof
  circuits/circom/core/qv/pollJoining.circom
Due: none

style(todo): remove finished todo
  contracts/contracts/MACI.sol
  contracts/contracts/VkRegistry.sol
Due: prettier --ignore-unknown --write

style(merge): after merge style
  circuits/circom/core/qv/pollJoining.circom
  circuits/ts/__tests__/CeremonyParams.test.ts
  circuits/ts/__tests__/PollJoining.test.ts
  circuits/ts/__tests__/ProcessMessages.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
  cli/ts/commands/joinPoll.ts
  cli/ts/commands/pollJoining.ts
  cli/ts/utils/interfaces.ts
  contracts/.nx/workspace-data/file-map.json
  contracts/.nx/workspace-data/project-graph.json
  contracts/contracts/VkRegistry.sol
  contracts/tests/VkRegistry.test.ts
  core/ts/Poll.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/e2e.test.ts
  crypto/ts/index.ts
  crypto/ts/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add first registry and payout extensions
  packages/contracts/contracts/extensions/interfaces/ISimpleProjectRegistry.sol
  packages/contracts/contracts/extensions/payout/SimplePayout.sol
  packages/contracts/contracts/extensions/registry/SimpleRecipientRegistry.sol
  packages/contracts/contracts/gatekeepers/SignUpTokenGatekeeper.sol
  packages/contracts/contracts/initialVoiceCreditProxy/ConstantInitialVoiceCreditProxy.sol
  packages/contracts/contracts/interfaces/ITally.sol
  packages/contracts/contracts/mocks/MockERC20.sol
  packages/contracts/contracts/mocks/MockTally.sol
  packages/contracts/contracts/trees/AccQueue.sol
  packages/contracts/contracts/utilities/SignUpToken.sol
  packages/contracts/package.json
  packages/contracts/tests/extensions/SimplePayout.test.ts
  packages/contracts/tests/extensions/SimpleProjectRegistry.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(return): inline return
  core/ts/Poll.ts
  core/ts/__tests__/utils/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(eslint): remove unnecessary eslint-disable
  cli/ts/commands/joinPoll.ts
  contracts/tests/Poll.test.ts
  contracts/tests/VkRegistry.test.ts
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(joiningcircuitargs): add interface IJoiningCircuitArgs
  circuits/ts/__tests__/PollJoining.test.ts
  cli/ts/commands/joinPoll.ts
  core/ts/Poll.ts
  core/ts/index.ts
  core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(joinpoll): async read state file
  cli/ts/commands/joinPoll.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(genmacisignup): add function description
  contracts/ts/genSignUpTree.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(gensignuptree): add IGenSignUpTreeArgs interface
  contracts/ts/genSignUpTree.ts
  contracts/ts/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove simple payout
  packages/contracts/contracts/extensions/payout/SimplePayout.sol
  packages/contracts/tests/extensions/SimplePayout.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(blog): added updated lockfile
  pnpm-lock.yaml
Due: none

feat(blog): removed links in excerpts
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/blog/2024-05-08-ethdam.md
  apps/website/blog/2024-07-23-q2-review.md
  apps/website/blog/2024-07-30-roadmap-q3.md
  apps/website/blog/2024-08-10-maci-v2.md
Due: none

feat(blog): removed square brackets in md files
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/blog/2024-05-28-upcoming-grants.md
  apps/website/blog/2024-07-23-q2-review.md
  apps/website/blog/2024-07-30-roadmap-q3.md
  apps/website/blog/2024-08-10-maci-v2.md
Due: none

feat(blog): fixed linter error and removed some squad brackets from blog posts
  apps/website/blog/2024-05-08-ethdam.md
  apps/website/src/pages/blogs.tsx
Due: none

feat(blog): added descriptions to missing blogposts
  apps/website/blog/2021-10-12-maci-v1.md
  apps/website/blog/2022-09-22-maci-v1-technical-introduction.md
  apps/website/blog/2023-01-18-maci-v1.1.1.md
  apps/website/blog/2024-01-18-roadmap.md
  apps/website/blog/2024-02-28-maci-v1.2.0.md
Due: none

feat(blog): adjusted styling to align cards to same size
  apps/website/blog/2023-01-18-maci-v1.1.1.md
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/src/css/card.module.css
Due: none

feat: implement cards for the blog (#1752)
  apps/website/blog/2021-10-12-maci-v1.md
  apps/website/blog/2022-09-22-maci-v1-technical-introduction.md
  apps/website/blog/2023-01-18-maci-v1.1.1.md
  apps/website/blog/2024-01-18-roadmap.md
  apps/website/blog/2024-02-28-maci-v1.2.0.md
  apps/website/blog/2024-04-10-roadmap-q2.md
  apps/website/blog/2024-05-08-ethdam.md
  apps/website/blog/2024-05-22-the-origins-of-maci.md
  apps/website/blog/2024-05-28-upcoming-grants.md
  apps/website/blog/2024-06-17-understanding-maci.md
  apps/website/blog/2024-06-21-deciphering-maci.md
  apps/website/blog/2024-06-28-revolusioning-public-goods-funding.md
  apps/website/blog/2024-07-23-q2-review.md
  apps/website/blog/2024-07-30-roadmap-q3.md
  apps/website/blog/2024-08-10-maci-v2.md
  apps/website/docusaurus.config.ts
  apps/website/package.json
  apps/website/src/css/card.module.css
  apps/website/src/pages/blogs.tsx
  apps/website/src/plugins/blog-plugin/index.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(website): add darkmode for blog cards
  apps/website/src/css/card.module.css
Due: none

style(polljoining): remove extra inlcudes and comments
  circuits/circom/core/qv/pollJoining.circom
Due: none

feat(website): add darkmode for blog cards (#1753)
  apps/website/src/css/card.module.css
Due: none

feat(pollvkkeys): init
  cli/ts/commands/checkVerifyingKeys.ts
  cli/ts/commands/setVerifyingKeys.ts
  contracts/contracts/Poll.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/interfaces/IVkRegistry.sol
  contracts/tests/VkRegistry.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(hats): add hats gatekeeper deployment steps
  packages/contracts/contracts/gatekeepers/HatsGatekeeperBase.sol
  packages/contracts/contracts/gatekeepers/HatsGatekeeperMultiple.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/maci/02-gatekeepers.ts
  packages/contracts/tasks/deploy/maci/08-maci.ts
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: bump @docusaurus packages to v3.5.1
  apps/website/package.json
  pnpm-lock.yaml
Due: none

chore(contracts): deploy contracts to L2s, store addresses and benchmark message batch size
  apps/website/versioned_docs/version-v2.x/developers-references/smart-contracts/DeployedContracts.md
  apps/website/versioned_docs/version-v2.x/developers-references/smart-contracts/SupportedNetworks.md
  packages/contracts/default-deployed-contracts.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/helpers/benchmarks.ts
  packages/contracts/tasks/runner/benchmarks.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): deploy contracts to L2s, store addresses and benchmark message batch size (#1751)
  apps/website/versioned_docs/version-v2.x/developers-references/smart-contracts/DeployedContracts.md
  apps/website/versioned_docs/version-v2.x/developers-references/smart-contracts/SupportedNetworks.md
  packages/contracts/default-deployed-contracts.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/helpers/benchmarks.ts
  packages/contracts/tasks/runner/benchmarks.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(vkregistry): separate set functions (process/tally/poll)
  contracts/contracts/VkRegistry.sol
Due: prettier --ignore-unknown --write

test(pollvkkey): adjust test to setPollVkKey
  contracts/contracts/VkRegistry.sol
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/VkRegistry.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(vkregistry): use setVerifyingKeys in setVerifyingKeysBatch
  contracts/contracts/VkRegistry.sol
Due: prettier --ignore-unknown --write

feat: add matomo plugin
  apps/website/docusaurus.config.ts
  apps/website/package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat: add matomo plugin (#1769)
  apps/website/docusaurus.config.ts
  apps/website/package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

fix: use correct tree arity and import from maci-core
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tasks/helpers/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
