Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

docs(maci-wrapper-guide): updated maciwrapper guide
  apps/website/versioned_docs/version-v2.x/developers-references/maci-wrapper/QuickStartGuide.md
Due: none

docs(maci-wrapper-guide): updated maciwrapper guide (#1831)
  apps/website/versioned_docs/version-v2.x/developers-references/maci-wrapper/QuickStartGuide.md
Due: none

fix(zupass-gatekeeper): event id was stored at the wrong index
  packages/contracts/contracts/gatekeepers/zupass/ZupassGatekeeper.sol
  packages/contracts/tests/ZupassGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(zupass-gatekeeper): event id was stored at the wrong index (#1836)
  packages/contracts/contracts/gatekeepers/zupass/ZupassGatekeeper.sol
  packages/contracts/tests/ZupassGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add virtual modifiers for poll
  packages/contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

chore(release): publish 2.4.0
  CHANGELOG.md
  apps/subgraph/CHANGELOG.md
  apps/subgraph/package.json
  apps/website/CHANGELOG.md
  apps/website/package.json
  lerna.json
  package.json
  packages/circuits/CHANGELOG.md
  packages/circuits/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/domainobjs/CHANGELOG.md
  packages/domainobjs/package.json
  packages/integrationTests/CHANGELOG.md
  packages/integrationTests/package.json
  pnpm-lock.yaml
Due: none

docs(docs): improved docs, added resources
  apps/website/src/content/projects.json
  apps/website/versioned_docs/version-v2.x/core-concepts/poll-types.md
  apps/website/versioned_docs/version-v2.x/introduction.md
  apps/website/versioned_docs/version-v2.x/overview/resources.md
  apps/website/versioned_docs/version-v2.x/overview/workflow.md
Due: none

docs(docs): improved docs, added resources (#1843)
  apps/website/src/content/projects.json
  apps/website/versioned_docs/version-v2.x/core-concepts/poll-types.md
  apps/website/versioned_docs/version-v2.x/introduction.md
  apps/website/versioned_docs/version-v2.x/overview/resources.md
  apps/website/versioned_docs/version-v2.x/overview/workflow.md
Due: none

feat(contracts): add tally results
  packages/cli/tests/constants.ts
  packages/cli/ts/commands/proveOnChain.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/contracts/Tally.sol
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tasks/runner/prove.ts
  packages/contracts/tests/Tally.test.ts
  packages/integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(contracts): prevent adding additional tally results
  packages/contracts/contracts/Tally.sol
  packages/contracts/package.json
  packages/contracts/tests/Tally.test.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add virtual modifier for getDeployTimeAndDuration
  packages/contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

feat(contracts): implement anon aadhaar gatekeeper
  packages/contracts/contracts/gatekeepers/AnonAadhaarGatekeeper.sol
  packages/contracts/contracts/interfaces/IAnonAadhaar.sol
  packages/contracts/contracts/mocks/MockAnonAadhaar.sol
  packages/contracts/package.json
  packages/contracts/tests/AnonAadhaarGatekeeper.test.ts
  packages/contracts/ts/deploy.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): implement anon aadhaar gatekeeper (#1846)
  packages/contracts/contracts/gatekeepers/AnonAadhaarGatekeeper.sol
  packages/contracts/contracts/interfaces/IAnonAadhaar.sol
  packages/contracts/contracts/mocks/MockAnonAadhaar.sol
  packages/contracts/package.json
  packages/contracts/tests/AnonAadhaarGatekeeper.test.ts
  packages/contracts/ts/deploy.ts
Due: prettier --ignore-unknown --write, eslint --fix

Revert "chore(deps): bump @mdx-js/react from 3.0.1 to 3.1.0 (#1862)"
  apps/website/package.json
  pnpm-lock.yaml
Due: none

feat(contracts): add total spent to tally
  packages/cli/ts/commands/proveOnChain.ts
  packages/contracts/contracts/Tally.sol
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tests/Tally.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add struct for add tally results args
  packages/cli/ts/commands/proveOnChain.ts
  packages/contracts/contracts/Tally.sol
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tests/Tally.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(scripts): add MACI key generation script - Add generateMaciKeys.js script - Update package.json with new script command - Update .gitignore to exclude maci-keys directory
  .gitignore
  package.json
  scripts/generateMaciKeys.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix (prettier) run a prettier fix
  scripts/generateMaciKeys.js
Due: prettier --ignore-unknown --write, eslint --fix

fix: temp deps check
  package.json
  pnpm-lock.yaml
Due: none

fix: trigger build
  packages/contracts/package.json
  pnpm-lock.yaml
Due: none

fix: missing dep
  pnpm-lock.yaml
Due: none

Revert "chore(deps-dev): bump typedoc-plugin-markdown from 4.2.6 to 4.2.9"
  package.json
  pnpm-lock.yaml
Due: none

Feat (script) converted the scrpit to ts
  scripts/generateMaciKeys.js
  scripts/generateMaciKeys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix (maci) changed fs import way
  scripts/generateMaciKeys.ts
Due: prettier --ignore-unknown --write, eslint --fix

Fix (pkg) updated pkg json for maci script
  package.json
Due: none

revert(dev-deps): revert hardhat to 2.22.8
  packages/cli/package.json
  packages/contracts/package.json
  packages/integrationTests/package.json
  pnpm-lock.yaml
Due: none

chore: move add tally results args struct to interface
  packages/contracts/contracts/Tally.sol
  packages/contracts/contracts/interfaces/ITally.sol
Due: prettier --ignore-unknown --write

Update README.md
  README.md
Due: none

chore: bump @docusaurus packages to v3.5.2
  apps/website/package.json
  pnpm-lock.yaml
Due: none

fix(website): website build
  apps/website/.gitignore
  apps/website/package.json
  apps/website/src/pages/blogs.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/pages/projects.tsx
  apps/website/src/plugins/blog-plugin/index.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): use contract names for deployment service
  packages/contracts/tasks/helpers/Deployment.ts
  packages/contracts/tasks/runner/benchmarks.ts
  packages/contracts/tasks/runner/deployFull.ts
  packages/contracts/tasks/runner/deployPoll.ts
  packages/contracts/tasks/runner/merge.ts
  packages/contracts/ts/deploy.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add missing exports
  packages/contracts/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: add ethglobal singapore projects
  apps/website/src/content/projects.json
Due: none

fix(contracts): add only non-zero tally results
  packages/cli/ts/commands/proveOnChain.ts
  packages/contracts/tasks/helpers/Prover.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: add remaining projects
  apps/website/src/content/projects.json
Due: none

chore: add ethglobal singapore projects (#1879)
  apps/website/src/content/projects.json
Due: none

feat: separate gen proofs and submit tasks
  packages/contracts/.gitignore
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tasks/runner/prove.ts
  packages/contracts/tasks/runner/submitOnChain.ts
  packages/contracts/testScriptLocalhost.sh
Due: prettier --ignore-unknown --write, eslint --fix

feat: separate gen proofs and submit tasks (#1888)
  packages/contracts/.gitignore
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tasks/runner/prove.ts
  packages/contracts/tasks/runner/submitOnChain.ts
  packages/contracts/testScriptLocalhost.sh
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
