Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

fix: ensure we pass the correct data to add tally results
  packages/contracts/tasks/helpers/Prover.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: ensure we pass the correct data to add tally results (#1896)
  packages/contracts/tasks/helpers/Prover.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: use async fs
  packages/contracts/tasks/runner/submitOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: use async fs (#1897)
  packages/contracts/tasks/runner/submitOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: Replacement of idle links
  README.md
Due: none

docs: q3 in review blogpost
  apps/website/blog/2024-10-29-q3-review.md
Due: none

docs: q3 in review blogpost (#1878)
  apps/website/blog/2024-10-29-q3-review.md
Due: none

chore: fix minor typo
  packages/contracts/tasks/helpers/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update vitalik blog link
  apps/website/versioned_docs/version-v0.x/quadratic-vote-tallying-circuit.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/what-is-quadratic-funding.md
Due: none

chore: update vitalik blog link (#1923)
  apps/website/versioned_docs/version-v0.x/quadratic-vote-tallying-circuit.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/what-is-quadratic-funding.md
Due: none

refactor(contracts): improve submit onchain task
  packages/contracts/package.json
  packages/contracts/tasks/runner/submitOnChain.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

Typo Update README.md
  packages/core/README.md
Due: none

chore(release): publish 2.5.0
  CHANGELOG.md
  apps/subgraph/CHANGELOG.md
  apps/subgraph/package.json
  apps/website/CHANGELOG.md
  apps/website/package.json
  lerna.json
  package.json
  packages/circuits/CHANGELOG.md
  packages/circuits/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/domainobjs/CHANGELOG.md
  packages/domainobjs/package.json
  packages/integrationTests/CHANGELOG.md
  packages/integrationTests/package.json
  pnpm-lock.yaml
Due: none

docs: add maci platform blogpost
  apps/website/blog/2024-11-20-maci-platform.md
Due: none

docs: add maci platform blogpost (#1942)
  apps/website/blog/2024-11-20-maci-platform.md
Due: none

chore: fix 404 status URL
  apps/website/versioned_docs/version-v1.2/typedoc/core/index.md
  packages/core/README.md
Due: none

chore: fix 404 status URL (#1949)
  apps/website/versioned_docs/version-v1.2/typedoc/core/index.md
  packages/core/README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md
  packages/cli/README.md
Due: none

refactor(zupass-gatekeeper): improved gatekeeper script to avoid doing conversion on config
  packages/contracts/package.json
  packages/contracts/tasks/deploy/maci/02-gatekeepers.ts
  packages/contracts/tasks/helpers/numericParser.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat: add nightly workflow for mac
  .github/workflows/nightly-mac.yml
Due: none

feat: add nightly workflow for mac (#1953)
  .github/workflows/nightly-mac.yml
Due: none

fix: storage write for e2e tests
  packages/cli/tests/e2e/e2e.test.ts
  packages/cli/ts/commands/deployPoll.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: add missing parts after anon poll joining rebase
  apps/subgraph/src/maci.ts
  apps/subgraph/templates/subgraph.template.yaml
  apps/subgraph/tests/common.ts
  apps/subgraph/tests/maci/maci.test.ts
  apps/subgraph/tests/maci/utils.ts
  apps/subgraph/tests/poll/poll.test.ts
  packages/circuits/circom/anon/pollJoining.circom
  packages/circuits/circom/circuits.json
  packages/circuits/circom/core/non-qv/processMessages.circom
  packages/circuits/circom/core/qv/processMessages.circom
  packages/circuits/circom/utils/non-qv/messageValidator.circom
  packages/circuits/circom/utils/non-qv/stateLeafAndBallotTransformer.circom
  packages/circuits/circom/utils/qv/messageValidator.circom
  packages/circuits/circom/utils/qv/stateLeafAndBallotTransformer.circom
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/cli/ts/commands/deployPoll.ts
  packages/cli/ts/commands/genLocalState.ts
  packages/cli/ts/commands/genProofs.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/commands/mergeSignups.ts
  packages/cli/ts/commands/poll.ts
  packages/cli/ts/commands/proveOnChain.ts
  packages/cli/ts/commands/publish.ts
  packages/cli/ts/commands/verify.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/tasks/deploy/poll/01-poll.ts
  packages/contracts/tasks/runner/merge.ts
  packages/contracts/tasks/runner/prove.ts
  packages/contracts/tasks/runner/submitOnChain.ts
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/MessageProcessor.test.ts
  packages/contracts/tests/Poll.test.ts
  packages/contracts/tests/Tally.test.ts
  packages/contracts/tests/TallyNonQv.test.ts
  packages/contracts/ts/genMaciState.ts
  packages/integrationTests/ts/__tests__/maci-keys.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: anon poll joining
  packages/circuits/circom/core/qv/processMessages.circom
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/circuits/ts/types.ts
  packages/cli/tests/e2e/keyChange.test.ts
  packages/contracts/contracts/MessageProcessor.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/maci/09-vkRegistry.ts
  packages/contracts/tasks/deploy/poll/01-poll.ts
  packages/contracts/tasks/helpers/Prover.ts
  packages/contracts/tasks/runner/prove.ts
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: optimize message processing circuits
  packages/circuits/circom/core/non-qv/processMessages.circom
  packages/circuits/circom/core/qv/processMessages.circom
Due: none

chore: update zkeys link
  .github/scripts/downloadZkeys.ts
  packages/core/ts/__tests__/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: check if poll joining is withing voting deadline
  packages/circuits/circom/core/non-qv/processMessages.circom
  packages/circuits/circom/core/qv/processMessages.circom
  packages/contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

fix: remove max vote options param
  packages/circuits/circom/circuits.json
  packages/circuits/circom/core/non-qv/processMessages.circom
  packages/circuits/circom/core/qv/processMessages.circom
  packages/circuits/ts/__tests__/CeremonyParams.test.ts
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/circuits/ts/__tests__/ProcessMessages.test.ts
  packages/circuits/ts/__tests__/TallyVotes.test.ts
  packages/circuits/ts/__tests__/utils/constants.ts
  packages/circuits/ts/types.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/PollFactory.sol
  packages/contracts/contracts/interfaces/IPollFactory.sol
  packages/contracts/tasks/deploy/poll/01-poll.ts
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/MessageProcessor.test.ts
  packages/contracts/tests/Poll.test.ts
  packages/contracts/tests/PollFactory.test.ts
  packages/contracts/tests/Tally.test.ts
  packages/contracts/tests/TallyNonQv.test.ts
  packages/contracts/ts/genMaciState.ts
  packages/core/ts/MaciState.ts
  packages/core/ts/Poll.ts
  packages/core/ts/__benchmarks__/index.ts
  packages/core/ts/__benchmarks__/utils/constants.ts
  packages/core/ts/__tests__/MaciState.test.ts
  packages/core/ts/__tests__/Poll.test.ts
  packages/core/ts/__tests__/e2e.test.ts
  packages/core/ts/__tests__/utils/constants.ts
  packages/core/ts/__tests__/utils/utils.ts
  packages/core/ts/utils/types.ts
  packages/integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: optimize lean imt and minor improvements
  packages/circuits/ts/__tests__/MessageValidator.test.ts
  packages/cli/deploy-config.json
  packages/cli/deployed-contracts.json
  packages/cli/ts/commands/joinPoll.ts
  packages/contracts/contracts/trees/LeanIMT.sol
Due: prettier --ignore-unknown --write, eslint --fix

refactor: cleanup anon poll joining
  packages/circuits/circom/core/non-qv/processMessages.circom
  packages/circuits/circom/core/qv/processMessages.circom
  packages/cli/tests/constants.ts
  packages/cli/tests/e2e/e2e.test.ts
  packages/cli/tests/unit/poll.test.ts
  packages/cli/ts/commands/genProofs.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/commands/poll.ts
  packages/cli/ts/commands/proveOnChain.ts
  packages/cli/ts/commands/verify.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/MessageProcessor.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/PollFactory.sol
  packages/contracts/contracts/interfaces/IPollFactory.sol
  packages/contracts/tasks/deploy/poll/01-poll.ts
  packages/contracts/tests/PollFactory.test.ts
  packages/integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: tests for poll joining
  packages/cli/ts/commands/joinPoll.ts
  packages/contracts/tests/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: optimize poll contract
  packages/contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

chore: use ubuntu-24.04 for ci jobs
  .github/workflows/benchmarks.yml
  .github/workflows/checks.yml
  .github/workflows/circuit-build.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/contracts-build.yml
  .github/workflows/core-build.yml
  .github/workflows/crypto-build.yml
  .github/workflows/domainobjs-build.yml
  .github/workflows/e2e.yml
  .github/workflows/hardhat-tasks.yml
  .github/workflows/nightly-ceremony.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/slither.yml
  .github/workflows/subgraph-build.yml
  .github/workflows/typos.yml
Due: none

chore: bump @docusaurus packages to v3.6.0
  apps/website/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump docusaurus packages to 3.6.3
  apps/website/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
