Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

chore: update intro with Discord link
  README.md
Due: none

chore: minor updates to roadmap page
  website/src/pages/roadmap.md
Due: none

feat: add roadmap webpage
  website/docusaurus.config.ts
  website/src/pages/roadmap.md
Due: prettier --ignore-unknown --write, eslint --fix

feat: add info disclaimer to roadmap
  website/src/pages/roadmap.md
Due: none

fix: reword main branch list item
  CONTRIBUTING.md
Due: none

chore: update PR template
  .github/pull_request_template.md
Due: none

fix: move GH PR template
  .github/pull_request_template.md
Due: none

fix: update 'ceremony' to 'PR'
  .github/pull_request_template.md
Due: none

feat: specify we use SemVer
  website/versioned_docs/version-v1.x/versioning.md
Due: none

feat: add versioning info [Fixes #807]
  website/versioned_docs/version-v1.x/versioning.md
Due: none

chore: update /release page to /versioning
  website/versioned_docs/version-v1.x/versioning.md
Due: none

fix: update broken links
  website/src/pages/roadmap.md
Due: none

refactor(core): cleanup the core package and ensure every function has a proper type
  core/ts/MaciState.ts
  core/ts/Poll.ts
  core/ts/index.ts
  core/ts/utils/constants.ts
  core/ts/utils/types.ts
  core/ts/utils/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(contract): improve the content of the index.md file used as TOC for NatSpec docs
  website/src/scripts/setupSolidityDocs.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(contracts) - fix gh pages workflow and run prettier:fix
  .github/workflows/gh-pages.yml
  website/package.json
Due: none

docs(contracts) - Fix NatSpec syntax errors across the smart contracts
  circuits/package-lock.json
  circuits/ts/verifier_groth16.sol
  cli/package-lock.json
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/Subsidy.sol
  contracts/contracts/Tally.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/crypto/Hasher.sol
  contracts/contracts/crypto/Pairing.sol
  contracts/contracts/crypto/Verifier.sol
  contracts/contracts/gatekeepers/FreeForAllSignUpGatekeeper.sol
  contracts/contracts/gatekeepers/SignUpTokenGatekeeper.sol
  contracts/contracts/trees/AccQueue.sol
  contracts/package-lock.json
  core/package-lock.json
  crypto/package-lock.json
  domainobjs/package-lock.json
  integrationTests/package-lock.json
  package-lock.json
  website/package-lock.json
Due: prettier --ignore-unknown --write

docs(contracts) - add script to setup website in one go (including running typedoc, and solidity docgen) in order to allow preview via netlify
  .github/scripts/website.sh
  .github/workflows/gh-pages.yml
Due: none

docs(contracts) - fix typo in package.json script and remove test trigger in workflow
  .github/workflows/gh-pages.yml
  website/package.json
Due: none

fix: remove trailing chars
  .github/scripts/website.sh
  .prettierignore
  circuits/package-lock.json
  crypto/package-lock.json
  integrationTests/package-lock.json
  website/.gitignore
  website/README.md
  website/blog/2023-01-18-maci-v1.1.1.md
  website/docusaurus.config.ts
  website/package.json
  website/src/scripts/setupSolidityDocs.ts
  website/src/scripts/setupTypedoc.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(contracts) - add general way of replacing broken links created by inherited functions in solidity docgen docs
  website/src/scripts/setupSolidityDocs.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(contracts) - setup solidity docgen and configure it to work on docusaurus
  .github/workflows/gh-pages.yml
  contracts/hardhat.config.ts
  contracts/package-lock.json
  contracts/package.json
  website/docusaurus.config.ts
  website/package.json
  website/src/scripts/setupSolidityDocs.ts
  website/src/scripts/setupTypedoc.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove TOC line
  website/src/scripts/setupSolidityDocs.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: update blog slugs to kebab case
  website/blog/2023-01-18-maci-v1.1.1.md
Due: none

docs(contracts) - shorten gh pages workflow
  .github/workflows/gh-pages.yml
  website/package.json
Due: none

chore: clean up README
  website/README.md
Due: none

test(key-change): add tests and docs around key-change
  cli/package.json
  cli/tests/keyChange.test.ts
  core/ts/__tests__/MaciState.test.ts
  website/versioned_docs/version-v1.x/key-change.md
  website/versioned_docs/version-v1.x/troubleshooting.md
Due: prettier --ignore-unknown --write, eslint --fix

refactor(contracts): add natspec across contracts and cleanup
  contracts/contracts/DomainObjs.sol
  contracts/contracts/HasherBenchmarks.sol
  contracts/contracts/IMACI.sol
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Params.sol
  contracts/contracts/Poll.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/SignUpToken.sol
  contracts/contracts/Subsidy.sol
  contracts/contracts/Tally.sol
  contracts/contracts/TopupCredit.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/benchmarks/HasherBenchmarks.sol
  contracts/contracts/crypto/Hasher.sol
  contracts/contracts/crypto/Pairing.sol
  contracts/contracts/crypto/SnarkCommon.sol
  contracts/contracts/crypto/SnarkConstants.sol
  contracts/contracts/crypto/Verifier.sol
  contracts/contracts/gatekeepers/FreeForAllSignUpGatekeeper.sol
  contracts/contracts/gatekeepers/SignUpGatekeeper.sol
  contracts/contracts/gatekeepers/SignUpTokenGatekeeper.sol
  contracts/contracts/initialVoiceCreditProxy/ConstantInitialVoiceCreditProxy.sol
  contracts/contracts/initialVoiceCreditProxy/InitialVoiceCreditProxy.sol
  contracts/contracts/interfaces/IMACI.sol
  contracts/contracts/trees/AccQueue.sol
  contracts/contracts/utilities/DomainObjs.sol
  contracts/contracts/utilities/Params.sol
  contracts/contracts/utilities/Utilities.sol
  contracts/contracts/utilities/Utility.sol
  contracts/package-lock.json
  contracts/package.json
  contracts/tests/HasherBenchmarks.test.ts
  contracts/tests/Utilities.test.ts
  core/ts/utils/utils.ts
  website/blog/2022-09-22-maci-v1-technical-introduction.md
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove 2023 section
  website/src/pages/roadmap.md
Due: none

chore: update QF site links
  website/src/pages/roadmap.md
Due: none

chore: remove resource requirements
  website/src/pages/roadmap.md
Due: none

refactoring(circuits) - cleanup circuits package, comment code and split into utilities vs exported functions
  circuits/ts/__tests__/CalculateTotal.test.ts
  circuits/ts/__tests__/Ecdh.test.ts
  circuits/ts/__tests__/Hasher.test.ts
  circuits/ts/__tests__/MessageToCommand.test.ts
  circuits/ts/__tests__/MessageValidator.test.ts
  circuits/ts/__tests__/PrivToPubKey.test.ts
  circuits/ts/__tests__/ProcessMessages.test.ts
  circuits/ts/__tests__/Splicer.test.ts
  circuits/ts/__tests__/StateLeafAndBallotTransformer.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
  circuits/ts/__tests__/UnpackElement.test.ts
  circuits/ts/__tests__/VerifySignature.test.ts
  circuits/ts/__tests__/utils.ts
  circuits/ts/__tests__/utils/constants.ts
  circuits/ts/__tests__/utils/types.ts
  circuits/ts/__tests__/utils/utils.ts
  circuits/ts/genVerifier.ts
  circuits/ts/index.ts
  circuits/ts/types/snarkjs.d.ts
  circuits/ts/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
