Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

chore(contracts): deploy poll
  contracts/.env.example
  contracts/deploy-config-example.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/deploy/index.ts
  contracts/tasks/deploy/maci/01-constantInitialVoiceCreditProxy.ts
  contracts/tasks/deploy/maci/11-vkRegistry.ts
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/ContractStorage.ts
  contracts/tasks/helpers/Deployment.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/deployPoll.ts
  contracts/ts/abi.ts
  contracts/ts/deployer.ts
  contracts/ts/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(core): remove redundant code which could slow down processing
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add merge signups and messages task
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tasks/deploy/maci/11-vkRegistry.ts
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/TreeMerger.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/merge.ts
  contracts/tasks/runner/prove.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove outdated code and spacing
  circuits/circom/trees/incrementalQuinTree.circom
Due: none

refactor: use anonymous components for poseidon hashers
  circuits/circom/hasherPoseidon.circom
  circuits/circom/messageHasher.circom
  circuits/circom/poseidon/poseidon.circom
  circuits/circom/poseidon/poseidonHashT3.circom
  circuits/circom/poseidon/poseidonHashT4.circom
  circuits/circom/poseidon/poseidonHashT5.circom
  circuits/circom/poseidon/poseidonHashT6.circom
  circuits/circom/poseidonHash.circom
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/circom/subsidy.circom
  circuits/circom/tallyVotes.circom
  circuits/circom/tallyVotesNonQv.circom
  circuits/circom/trees/checkRoot.circom
  circuits/circom/trees/incrementalMerkleTree.circom
  circuits/circom/trees/incrementalQuinTree.circom
  circuits/circom/verifySignature.circom
  circuits/ts/__tests__/Hasher.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

style: code format and outdated comments
  circuits/circom/messageHasher.circom
  circuits/circom/tallyVotes.circom
  circuits/circom/trees/incrementalMerkleTree.circom
Due: none

Clarify EASGatekeeper description
  contracts/contracts/gatekeepers/EASGatekeeper.sol
Due: prettier --ignore-unknown --write

refactor: move sha256, poseidon and message hashers to the same file
  circuits/circom/hashers.circom
  circuits/circom/messageHasher.circom
  circuits/circom/messageToCommand.circom
  circuits/circom/poseidonHash.circom
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/circom/subsidy.circom
  circuits/circom/tallyVotes.circom
  circuits/circom/tallyVotesNonQv.circom
  circuits/circom/trees/checkRoot.circom
  circuits/circom/trees/incrementalMerkleTree.circom
  circuits/circom/trees/incrementalQuinTree.circom
  circuits/circom/verifySignature.circom
Due: none

docs(cli): update cli docs to reflect latest changes
  website/versioned_docs/version-v1.x/cli.md
Due: none

refactor: use anonymous components for sha256 hashers
  circuits/circom/hashers.circom
  circuits/circom/processMessages.circom
  circuits/circom/subsidy.circom
  circuits/circom/tallyVotes.circom
  circuits/ts/__tests__/Hasher.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: rename PoseidonHash to PoseidonHasher as other templates
  circuits/circom/hashers.circom
  circuits/circom/processMessages.circom
  circuits/circom/processMessagesNonQv.circom
  circuits/circom/subsidy.circom
  circuits/circom/tallyVotes.circom
  circuits/circom/tallyVotesNonQv.circom
  circuits/circom/trees/checkRoot.circom
  circuits/circom/trees/incrementalMerkleTree.circom
  circuits/circom/trees/incrementalQuinTree.circom
  circuits/circom/verifySignature.circom
  circuits/ts/__tests__/Hasher.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add proof generation for task coordinator
  circuits/ts/index.ts
  circuits/ts/types.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/compileSol.sh
  contracts/tasks/deploy/maci/10-maci.ts
  contracts/tasks/deploy/maci/11-vkRegistry.ts
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/ContractStorage.ts
  contracts/tasks/helpers/Deployment.ts
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tasks/helpers/Prover.ts
  contracts/tasks/helpers/TreeMerger.ts
  contracts/tasks/helpers/constants.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/merge.ts
  contracts/tasks/runner/prove.ts
  contracts/testScriptLocalhost.sh
  contracts/ts/types.ts
  contracts/ts/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(contracts): clarify EASGatekeeper description
  contracts/contracts/gatekeepers/EASGatekeeper.sol
Due: prettier --ignore-unknown --write

chore(cli): prepare cli package for web apps
  cli/package.json
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/constants.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/tests/e2e/e2e.subsidy.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/tests/unit/airdrop.test.ts
  cli/tests/unit/fundWallet.test.ts
  cli/tests/unit/timeTravel.test.ts
  cli/tests/unit/topup.test.ts
  cli/ts/commands/airdrop.ts
  cli/ts/commands/checkVerifyingKeys.ts
  cli/ts/commands/deploy.ts
  cli/ts/commands/deployPoll.ts
  cli/ts/commands/deployVkRegistry.ts
  cli/ts/commands/fundWallet.ts
  cli/ts/commands/genLocalState.ts
  cli/ts/commands/genProofs.ts
  cli/ts/commands/mergeMessages.ts
  cli/ts/commands/mergeSignups.ts
  cli/ts/commands/proveOnChain.ts
  cli/ts/commands/publish.ts
  cli/ts/commands/setVerifyingKeys.ts
  cli/ts/commands/signup.ts
  cli/ts/commands/timeTravel.ts
  cli/ts/commands/topup.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  cli/ts/sdk/index.ts
  cli/ts/utils/interfaces.ts
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cli): support install for web apps
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/tests/constants.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/tests/e2e/e2e.subsidy.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/ts/commands/genKeyPair.ts
  cli/ts/commands/genPubKey.ts
  cli/ts/commands/publish.ts
  cli/ts/commands/signup.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  cli/ts/sdk/index.ts
  cli/ts/utils/interfaces.ts
  contracts/package.json
  contracts/ts/index.ts
  integrationTests/ts/__tests__/integration.test.ts
  integrationTests/ts/__tests__/maci-keys.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(contracts): add virtual to functions which could be overridden
  contracts/contracts/MACI.sol
  contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

refactor(nonqv): optimize tally votes non qv circuit and contracts
  circuits/circom/tallyVotesNonQv.circom
  circuits/ts/__tests__/TallyVotes.test.ts
  cli/tests/e2e/e2e.nonQv.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/ts/commands/deploy.ts
  cli/ts/commands/genProofs.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  cli/ts/utils/verifiers.ts
  contracts/contracts/TallyNonQv.sol
  contracts/contracts/TallyNonQvFactory.sol
  contracts/deploy-config-example.json
  contracts/package.json
  contracts/tasks/deploy/maci/08-tallyFactory.ts
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/Deployment.ts
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tasks/helpers/Prover.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/deployFull.ts
  contracts/tasks/runner/deployPoll.ts
  contracts/tasks/runner/prove.ts
  contracts/tests/EASGatekeeper.test.ts
  contracts/tests/SignUpGatekeeper.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/utils.ts
  contracts/ts/deploy.ts
  contracts/ts/types.ts
  core/ts/Poll.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/e2e.test.ts
  core/ts/utils/types.ts
  integrationTests/ts/__tests__/utils/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(cli): add seed param for generate keypair command
  cli/tests/unit/genKeyPair.test.ts
  cli/tests/unit/genPubkey.test.ts
  cli/ts/commands/genKeyPair.ts
  cli/ts/index.ts
  cli/ts/utils/interfaces.ts
  website/versioned_docs/version-v1.x/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(tests): remove wrong chai matcher from integrationTests
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
