Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

fix(contracts): small typo
  packages/contracts/contracts/crypto/BabyJubJub.sol
Due: prettier --ignore-unknown --write

fix: coordinator workflow for dependabot and external collaborators
  .github/workflows/coordinator.yml
  apps/coordinator/scripts/generateKeypair.ts
  apps/coordinator/ts/common/chain.ts
  packages/contracts/hardhat.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: store maci and poll deployment block
  packages/circuits/circom/voter/PollJoining.circom
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/Poll.test.ts
  packages/sdk/ts/browser/index.ts
  packages/sdk/ts/maci/index.ts
  packages/sdk/ts/maci/types.ts
  packages/sdk/ts/maci/utils.ts
  packages/sdk/ts/poll/index.ts
  packages/sdk/ts/poll/types.ts
  packages/sdk/ts/poll/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sdk): use deployment block from contract
  apps/coordinator/ts/proof/proof.service.ts
  packages/cli/ts/index.ts
  packages/contracts/tasks/helpers/ProofGenerator.ts
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tasks/runner/prove.ts
  packages/contracts/ts/generateMaciState.ts
  packages/contracts/ts/types.ts
  packages/sdk/ts/browser/joinPoll.ts
  packages/sdk/ts/maci/state.ts
  packages/sdk/ts/maci/types.ts
  packages/sdk/ts/maci/utils.ts
  packages/sdk/ts/poll/utils.ts
  packages/sdk/ts/proof/generate.ts
  packages/sdk/ts/proof/types.ts
  packages/sdk/ts/user/joinPoll.ts
  packages/sdk/ts/user/types.ts
  packages/sdk/ts/user/utils.ts
  packages/testing/ts/__tests__/e2e.test.ts
  packages/testing/ts/__tests__/unit/joinPoll.test.ts
  packages/testing/ts/__tests__/unit/signup.test.ts
  packages/testing/ts/testingClass.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(sdk): setVerifyingKeys for multiple modes
  apps/coordinator/ts/deployer/__tests__/utils.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/types.ts
  packages/cli/ts/index.ts
  packages/sdk/ts/verifyingKeys/setVerifyingKeys.ts
  packages/sdk/ts/verifyingKeys/types.ts
  packages/testing/ts/__tests__/e2e.full.test.ts
  packages/testing/ts/__tests__/e2e.nonQv.test.ts
  packages/testing/ts/__tests__/integration.test.ts
  packages/testing/ts/__tests__/unit/setVerifyingKeys.test.ts
  packages/testing/ts/constants.ts
  packages/testing/ts/testingClass.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): add redis module
  .github/workflows/coordinator-docker.yml
  .github/workflows/coordinator.yml
  apps/coordinator/.env.example
  apps/coordinator/Dockerfile
  apps/coordinator/docker-compose.yml
  apps/coordinator/package.json
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/ts/app.module.ts
  apps/coordinator/ts/health/__tests__/health.controller.test.ts
  apps/coordinator/ts/health/__tests__/health.service.test.ts
  apps/coordinator/ts/health/health.module.ts
  apps/coordinator/ts/health/health.service.ts
  apps/coordinator/ts/health/types.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/redis/redis.module.ts
  apps/coordinator/ts/redis/redis.service.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/redis/utils.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): update function in redis + adapt tests and utils
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/redis/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: deploy initial voice credit proxy factory with maci tasks
  .eslintrc.js
  apps/coordinator/ts/common/errors.ts
  apps/coordinator/ts/deployer/__tests__/deployer.service.test.ts
  apps/coordinator/ts/deployer/__tests__/utils.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/types.ts
  packages/cli/ts/index.ts
  packages/contracts/e2e/hardhatTasks.test.ts
  packages/contracts/tasks/deploy/maci/09-voiceCreditProxyFactory.ts
  packages/contracts/tasks/deploy/poll/01-voiceCreditProxy.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/contracts/tests/ERC20VotesInitialVoiceCreditsProxy.test.ts
  packages/contracts/tests/utils.ts
  packages/contracts/ts/deploy.ts
  packages/contracts/ts/index.ts
  packages/sdk/ts/deploy/poll.ts
  packages/sdk/ts/deploy/types.ts
  packages/sdk/ts/index.ts
  packages/testing/ts/__tests__/e2e.full.test.ts
  packages/testing/ts/__tests__/e2e.nonQv.test.ts
  packages/testing/ts/__tests__/e2e.test.ts
  packages/testing/ts/__tests__/integration.test.ts
  packages/testing/ts/__tests__/keyChange.test.ts
  packages/testing/ts/__tests__/unit/joinPoll.test.ts
  packages/testing/ts/__tests__/unit/poll.test.ts
  packages/testing/ts/__tests__/unit/publish.test.ts
  packages/testing/ts/testingClass.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: add padding key to signup tree on initialization
  packages/sdk/ts/trees/stateTree.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(sdk): add padKey to array of retrieved MACI public keys
  packages/sdk/ts/subgraph/maciSubgraph.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: remove redundant words
  apps/website/versioned_docs/version-v3.x/technical-references/offchain-relayer/index.md
  apps/website/versioned_docs/version-v3.x/technical-references/smart-contracts/Tally.md
Due: none

feat: make ESupportedChains exportable so apps can use it
  apps/coordinator/tests/e2e.deploy.test.ts
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/tests/utils.ts
  apps/coordinator/ts/common/__tests__/common.test.ts
  apps/coordinator/ts/common/accountAbstraction.ts
  apps/coordinator/ts/common/chain.ts
  apps/coordinator/ts/common/index.ts
  apps/coordinator/ts/common/networks.ts
  apps/coordinator/ts/deployer/__tests__/deployer.controller.test.ts
  apps/coordinator/ts/deployer/__tests__/deployer.service.test.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/dto.ts
  apps/coordinator/ts/deployer/types.ts
  apps/coordinator/ts/health/health.service.ts
  apps/coordinator/ts/proof/__tests__/proof.controller.test.ts
  apps/coordinator/ts/proof/__tests__/proof.gateway.test.ts
  apps/coordinator/ts/proof/__tests__/proof.service.test.ts
  apps/coordinator/ts/proof/dto.ts
  apps/coordinator/ts/proof/types.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/sessionKeys/__tests__/sessionKeys.service.test.ts
  apps/coordinator/ts/sessionKeys/__tests__/utils.ts
  apps/coordinator/ts/sessionKeys/sessionKeys.service.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.controller.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.gateway.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.service.test.ts
  apps/coordinator/ts/subgraph/dto.ts
  apps/coordinator/ts/subgraph/subgraph.service.ts
  apps/coordinator/ts/subgraph/types.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/sdk/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: use mutation instead spread operator
  packages/sdk/ts/subgraph/maciSubgraph.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): improve prove tasks - add submitOnChain flag to prove task and update IProveParams interface - remove prove param from merge task
  packages/contracts/tasks/helpers/types.ts
  packages/contracts/tasks/runner/merge.ts
  packages/contracts/tasks/runner/prove.ts
  packages/contracts/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: enable get-changed-files for workflows
  .github/workflows/coordinator.yml
  .github/workflows/relayer-build.yml
  .github/workflows/reusable-e2e.yml
Due: none

feat: update codeowners
  .github/CODEOWNERS
Due: none

feat(coordinator): scheduler module
  apps/coordinator/package.json
  apps/coordinator/ts/app.module.ts
  apps/coordinator/ts/common/errors.ts
  apps/coordinator/ts/file/file.service.ts
  apps/coordinator/ts/scheduler/README.md
  apps/coordinator/ts/scheduler/__tests__/scheduler.controller.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/dto.ts
  apps/coordinator/ts/scheduler/scheduler.controller.ts
  apps/coordinator/ts/scheduler/scheduler.module.ts
  apps/coordinator/ts/scheduler/scheduler.service.ts
  apps/coordinator/ts/scheduler/types.ts
  apps/coordinator/ts/sessionKeys/sessionKeys.service.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): finalize function in the scheduler module
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/scheduler.module.ts
  apps/coordinator/ts/scheduler/scheduler.service.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): export proof services
  apps/coordinator/ts/proof/proof.module.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): send values and keys in getAll + more buffer time to run finalize
  apps/coordinator/ts/redis/redis.service.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/scheduler.service.ts
  packages/contracts/.env.example
Due: prettier --ignore-unknown --write, eslint --fix

fix(scheduler): use only isTallied and not isMerged
  apps/coordinator/ts/scheduler/scheduler.service.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): resechedule if vote period has not ended
  apps/coordinator/ts/redis/redis.service.ts
  apps/coordinator/ts/scheduler/scheduler.service.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(coordinator): use map instead of for each
  apps/coordinator/tests/e2e.redis.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: make ESupportedChains exportable so apps can use it
  apps/coordinator/tests/e2e.deploy.test.ts
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/tests/utils.ts
  apps/coordinator/ts/common/__tests__/common.test.ts
  apps/coordinator/ts/common/accountAbstraction.ts
  apps/coordinator/ts/common/chain.ts
  apps/coordinator/ts/common/index.ts
  apps/coordinator/ts/common/networks.ts
  apps/coordinator/ts/deployer/__tests__/deployer.controller.test.ts
  apps/coordinator/ts/deployer/__tests__/deployer.service.test.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/dto.ts
  apps/coordinator/ts/deployer/types.ts
  apps/coordinator/ts/health/health.service.ts
  apps/coordinator/ts/proof/__tests__/proof.controller.test.ts
  apps/coordinator/ts/proof/__tests__/proof.gateway.test.ts
  apps/coordinator/ts/proof/__tests__/proof.service.test.ts
  apps/coordinator/ts/proof/dto.ts
  apps/coordinator/ts/proof/types.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.controller.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/dto.ts
  apps/coordinator/ts/sessionKeys/__tests__/sessionKeys.service.test.ts
  apps/coordinator/ts/sessionKeys/__tests__/utils.ts
  apps/coordinator/ts/sessionKeys/sessionKeys.service.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.controller.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.gateway.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.service.test.ts
  apps/coordinator/ts/subgraph/dto.ts
  apps/coordinator/ts/subgraph/subgraph.service.ts
  apps/coordinator/ts/subgraph/types.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/sdk/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(deps-dev): bump @nestjs packages
  apps/coordinator/package.json
  apps/relayer/package.json
  pnpm-lock.yaml
Due: none

fix(sdk): sort users by creation date in subgraph query
  packages/sdk/ts/subgraph/maciSubgraph.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): check merge on-chain + tallied first in status
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/scheduler.service.ts
  apps/coordinator/ts/scheduler/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: make ESupportedChains exportable so apps can use it
  apps/coordinator/package.json
  apps/coordinator/tests/e2e.deploy.test.ts
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/tests/utils.ts
  apps/coordinator/ts/common/__tests__/common.test.ts
  apps/coordinator/ts/common/accountAbstraction.ts
  apps/coordinator/ts/common/chain.ts
  apps/coordinator/ts/common/index.ts
  apps/coordinator/ts/common/networks.ts
  apps/coordinator/ts/deployer/__tests__/deployer.controller.test.ts
  apps/coordinator/ts/deployer/__tests__/deployer.service.test.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/dto.ts
  apps/coordinator/ts/deployer/types.ts
  apps/coordinator/ts/health/health.service.ts
  apps/coordinator/ts/jest/__mocks__/@excubiae/contracts.ts
  apps/coordinator/ts/jest/__mocks__/@openzeppelin/merkle-tree.ts
  apps/coordinator/ts/proof/__tests__/proof.controller.test.ts
  apps/coordinator/ts/proof/__tests__/proof.gateway.test.ts
  apps/coordinator/ts/proof/__tests__/proof.service.test.ts
  apps/coordinator/ts/proof/dto.ts
  apps/coordinator/ts/proof/types.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.controller.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/dto.ts
  apps/coordinator/ts/sessionKeys/__tests__/sessionKeys.service.test.ts
  apps/coordinator/ts/sessionKeys/__tests__/utils.ts
  apps/coordinator/ts/sessionKeys/sessionKeys.service.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.controller.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.gateway.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.service.test.ts
  apps/coordinator/ts/subgraph/dto.ts
  apps/coordinator/ts/subgraph/subgraph.service.ts
  apps/coordinator/ts/subgraph/types.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/sdk/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(coordinator): use mocks and run unit tests locally
  apps/coordinator/hardhat.config.cjs
  apps/coordinator/package.json
  apps/coordinator/tests/e2e.deploy.test.ts
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/tests/utils.ts
  apps/coordinator/ts/common/__tests__/common.test.ts
  apps/coordinator/ts/common/accountAbstraction.ts
  apps/coordinator/ts/common/chain.ts
  apps/coordinator/ts/deployer/__tests__/deployer.controller.test.ts
  apps/coordinator/ts/deployer/__tests__/deployer.service.test.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/health/__tests__/health.controller.test.ts
  apps/coordinator/ts/health/__tests__/health.service.test.ts
  apps/coordinator/ts/health/health.service.ts
  apps/coordinator/ts/health/types.ts
  apps/coordinator/ts/proof/__tests__/proof.service.test.ts
  apps/coordinator/ts/proof/proof.service.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.controller.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/sessionKeys/__tests__/sessionKeys.service.test.ts
  apps/coordinator/ts/sessionKeys/__tests__/utils.ts
  apps/coordinator/ts/sessionKeys/sessionKeys.service.ts
  packages/sdk/ts/poll/poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: move e2e tests for coordinator to nightly jobs
  .github/workflows/nightly-coordinator-e2e.yml
  apps/coordinator/.env.example
  apps/coordinator/tests/utils.ts
  apps/coordinator/ts/sessionKeys/__tests__/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(coordinator): remove secrets from coordinator build workflow
  .github/workflows/coordinator.yml
  .github/workflows/nightly-coordinator-e2e.yml
Due: none

chore(coordinator): use default vars for coordinator unit test workflow
  .github/workflows/coordinator.yml
Due: none

fix(sdk): sort users by creation date in subgraph query (#2664)
  packages/sdk/ts/subgraph/maciSubgraph.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: nightly workflows
  .github/workflows/nightly-ceremony.yml
  .github/workflows/nightly-coordinator-e2e.yml
  .github/workflows/nightly-mac.yml
  .github/workflows/nightly.yml
  .github/workflows/sdk-build.yml
  packages/sdk/ts/proof/__tests__/download.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: make ESupportedChains exportable so apps can use it
  apps/coordinator/package.json
  apps/coordinator/tests/e2e.deploy.test.ts
  apps/coordinator/tests/e2e.redis.test.ts
  apps/coordinator/tests/utils.ts
  apps/coordinator/ts/common/__tests__/common.test.ts
  apps/coordinator/ts/common/accountAbstraction.ts
  apps/coordinator/ts/common/chain.ts
  apps/coordinator/ts/common/index.ts
  apps/coordinator/ts/common/networks.ts
  apps/coordinator/ts/deployer/__tests__/deployer.controller.test.ts
  apps/coordinator/ts/deployer/__tests__/deployer.service.test.ts
  apps/coordinator/ts/deployer/deployer.service.ts
  apps/coordinator/ts/deployer/dto.ts
  apps/coordinator/ts/deployer/types.ts
  apps/coordinator/ts/health/__tests__/health.controller.test.ts
  apps/coordinator/ts/health/health.service.ts
  apps/coordinator/ts/jest/__mocks__/@excubiae/contracts.ts
  apps/coordinator/ts/jest/__mocks__/@openzeppelin/merkle-tree.ts
  apps/coordinator/ts/proof/__tests__/proof.controller.test.ts
  apps/coordinator/ts/proof/__tests__/proof.gateway.test.ts
  apps/coordinator/ts/proof/__tests__/proof.service.test.ts
  apps/coordinator/ts/proof/dto.ts
  apps/coordinator/ts/proof/types.ts
  apps/coordinator/ts/redis/__tests__/redis.service.test.ts
  apps/coordinator/ts/redis/types.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.controller.test.ts
  apps/coordinator/ts/scheduler/__tests__/scheduler.service.test.ts
  apps/coordinator/ts/scheduler/dto.ts
  apps/coordinator/ts/sessionKeys/__tests__/sessionKeys.service.test.ts
  apps/coordinator/ts/sessionKeys/__tests__/utils.ts
  apps/coordinator/ts/sessionKeys/sessionKeys.service.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.controller.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.gateway.test.ts
  apps/coordinator/ts/subgraph/__tests__/subgraph.service.test.ts
  apps/coordinator/ts/subgraph/dto.ts
  apps/coordinator/ts/subgraph/subgraph.service.ts
  apps/coordinator/ts/subgraph/types.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/sdk/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
