Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

fix(cli): signup loop length
  cli/tests/e2e.subsidy.test.ts
  cli/tests/e2e.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(core): refactor the core package subsidy and tally functions
  circuits/ts/__tests__/CeremonyParams.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
  cli/ts/commands/genProofs.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Subsidy.test.ts
  contracts/tests/Tally.test.ts
  core/ts/Poll.ts
  core/ts/__tests__/MaciState.test.ts
  core/ts/index.ts
  core/ts/utils/types.ts
  core/ts/utils/utils.ts
  integrationTests/package.json
Due: prettier --ignore-unknown --write, eslint --fix

test(core): refactor and add tests for the core package
  core/package.json
  core/ts/__tests__/MaciState.test.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/utils.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(cli): reorganize e2e tests and add more tests for cli commands
  cli/package.json
  cli/tests/e2e.test.ts
  cli/tests/e2e/e2e.subsidy.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/tests/unit/airdrop.test.ts
  cli/tests/unit/data/testVk.json
  cli/tests/unit/fundWallet.test.ts
  cli/tests/unit/genKeyPair.test.ts
  cli/tests/unit/genPubkey.test.ts
  cli/tests/unit/timeTravel.test.ts
  cli/tests/unit/topup.test.ts
  cli/tests/unit/utils.test.ts
  contracts/hardhat.config.ts
  integrationTests/package.json
Due: prettier --ignore-unknown --write, eslint --fix

test(integration): ensure integration tests are using the correct user keys
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: linter unification
  .eslintrc.js
  circuits/.eslintrc.js
  circuits/tsconfig.json
  cli/.eslintrc.js
  cli/tsconfig.json
  contracts/.eslintrc.js
  contracts/tsconfig.json
  core/.eslintrc.js
  core/tsconfig.json
  crypto/.eslintrc.js
  crypto/tsconfig.json
  domainobjs/.eslintrc.js
  domainobjs/tsconfig.json
  integrationTests/.eslintrc.js
  integrationTests/tsconfig.json
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

chore: add types check
  .github/workflows/checks.yml
  .husky/pre-commit
  circuits/package.json
  cli/package.json
  contracts/package.json
  core/package.json
  crypto/package.json
  domainobjs/package.json
  integrationTests/package.json
  package.json
  website/package-lock.json
  website/package.json
Due: none

docs(testing): revisit testing docs and add more in detail info
  integrationTests/ts/__tests__/data/suites.json
  integrationTests/ts/__tests__/utils/interfaces.ts
  integrationTests/ts/__tests__/utils/utils.ts
  website/versioned_docs/version-v1.x/audit.md
  website/versioned_docs/version-v1.x/ci-pipeline.md
  website/versioned_docs/version-v1.x/coordinator-processing.md
  website/versioned_docs/version-v1.x/integrating.md
  website/versioned_docs/version-v1.x/key-change.md
  website/versioned_docs/version-v1.x/spec.md
  website/versioned_docs/version-v1.x/testing-in-details.md
  website/versioned_docs/version-v1.x/testing.md
  website/versioned_docs/version-v1.x/troubleshooting.md
  website/versioned_docs/version-v1.x/versioning.md
Due: prettier --ignore-unknown --write, eslint --fix

chore(contract): disable empty code blocks warnings
  contracts/contracts/MACI.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/gatekeepers/FreeForAllSignUpGatekeeper.sol
Due: prettier --ignore-unknown --write

chore: add dependabot and codeowners
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

chore: ignore dependabot commit messages for linting
  commitlint.config.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(dependencies): update project dependencies and remove redundant ones
  circuits/package-lock.json
  circuits/package.json
  cli/package-lock.json
  cli/package.json
  cli/ts/commands/genProofs.ts
  cli/ts/utils/interfaces.ts
  contracts/package-lock.json
  contracts/package.json
  core/package-lock.json
  crypto/package-lock.json
  domainobjs/package-lock.json
  integrationTests/package-lock.json
  integrationTests/package.json
  package-lock.json
  package.json
  website/package-lock.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(cli): optimize bundle size
  circuits/package.json
  circuits/tsconfig.build.json
  cli/package.json
  cli/tsconfig.build.json
  contracts/package.json
  contracts/tsconfig.build.json
  core/package.json
  core/tsconfig.build.json
  crypto/package.json
  crypto/tsconfig.build.json
  domainobjs/package.json
  domainobjs/tsconfig.build.json
Due: none

fix(nightly): add back snarkjs to cli as dev dependency and fix poll duration
  .github/scripts/ceremony-param-tests-c-witness.sh
  .github/workflows/e2e.yml
  cli/package-lock.json
  cli/package.json
Due: none

chore(publish): fix publishing scripts to publish contracts with ceremony params
  .github/workflows/e2e.yml
  .github/workflows/nightly-ceremony.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  contracts/scripts/compileSol.sh
  contracts/scripts/writeEmptyBallotRoots.sh
  contracts/ts/genEmptyBallotRootsContract.ts
Due: prettier --ignore-unknown --write, eslint --fix
