Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

chore: update testing header
  website/versioned_docs/version-v1.x/testing.md
Due: none

fix: internal doc links
  website/blog/2023-01-18-maci-v1.1.1.md
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/installation.md
  website/versioned_docs/version-v1.x/testing-in-detail.md
Due: none

chore: rename file to testing-in-detail
  website/versioned_docs/version-v1.x/testing-in-detail.md
Due: none

fix: update to singular "in detail"
  website/versioned_docs/version-v1.x/testing-in-detail.md
Due: none

fix: header for Pre-Compiled Artifacts for testing
  website/versioned_docs/version-v1.x/testing.md
Due: none

chore: update headers for testing page
  website/versioned_docs/version-v1.x/testing.md
Due: none

feat(contracts): return contract addresses when deploying the poll contract
  circuits/scripts/build_intel.sh
  cli/ts/commands/deployPoll.ts
  contracts/contracts/MACI.sol
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Subsidy.test.ts
  contracts/tests/Tally.test.ts
  contracts/ts/genMaciState.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): add gas reporter to hardhat config
  contracts/hardhat.config.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(circuits): remove zkey-manager in favour of circomkit
  .github/scripts/ceremony-param-tests-c-witness.sh
  .github/workflows/nightly.yml
  .github/workflows/reusable-e2e.yml
  circuits/.gitignore
  circuits/circom/circuits.json
  circuits/package.json
  circuits/scripts/buildCustomSnarks.sh
  circuits/scripts/build_arm.sh
  circuits/scripts/build_intel.sh
  circuits/ts/compile.ts
  circuits/ts/genZkeys.ts
  circuits/ts/types.ts
  cli/package.json
  cli/tests/constants.ts
  cli/tests/e2e/e2e.subsidy.test.ts
  cli/tests/e2e/e2e.test.ts
  cli/tests/e2e/keyChange.test.ts
  cli/ts/commands/genProofs.ts
  cli/ts/index.ts
  cli/zkeys.config.yml
  crypto/package.json
  integrationTests/scripts/download_zkeys.sh
  integrationTests/ts/__tests__/integration.test.ts
  package.json
  pnpm-lock.yaml
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/cli.md
  website/versioned_docs/version-v1.x/installation.md
  website/versioned_docs/version-v1.x/testing.md
  website/versioned_docs/version-v1.x/troubleshooting.md
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli): remove files property from package.json
  .github/workflows/codeql.yml
  .prettierignore
  cli/package.json
  crypto/package.json
  pnpm-lock.yaml
Due: none

chore(deps): remove circomlib and add big-integer
  cli/package.json
  pnpm-lock.yaml
Due: none

fix(cli): add env initialization for hardhat conifg
  cli/ts/cliInit.ts
  cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(cli): change maci-cli script run instructions
  .github/scripts/ceremony-param-tests-c-witness.sh
  cli/testScript.sh
  website/versioned_docs/version-v1.x/cli.md
  website/versioned_docs/version-v1.x/troubleshooting.md
Due: none

fix(circuits): replace execSync with execFileSync
  circuits/ts/compile.ts
  circuits/ts/proofs.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: fix typos and remove redundant introductions
  website/versioned_docs/version-v1.x/circuits.md
  website/versioned_docs/version-v1.x/cli.md
  website/versioned_docs/version-v1.x/contracts.md
  website/versioned_docs/version-v1.x/integrating.md
  website/versioned_docs/version-v1.x/key-change.md
  website/versioned_docs/version-v1.x/testing.md
Due: none

chore: update docs
  contracts/contracts/MACI.sol
  website/versioned_docs/version-v1.x/contracts.md
Due: prettier --ignore-unknown --write

docs(cli): clarify cli commands
  cli/ts/commands/checkVerifyingKeys.ts
  cli/ts/commands/genProofs.ts
  cli/ts/commands/setVerifyingKeys.ts
  cli/ts/commands/verify.ts
  cli/ts/index.ts
  website/versioned_docs/version-v1.x/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

refactor(optimisedmt): remove dependency and implement locally
  .eslintrc.js
  .github/workflows/benchmarks.yml
  .gitignore
  circuits/ts/__tests__/IncrementalQuinTree.test.ts
  cli/package.json
  core/package.json
  core/ts/Poll.ts
  core/ts/__benchmarks__/index.ts
  core/ts/__benchmarks__/utils/constants.ts
  crypto/package.json
  crypto/ts/@types/index.ts
  crypto/ts/@types/main.d.ts
  crypto/ts/@types/optimisedmt.d.ts
  crypto/ts/AccQueue.ts
  crypto/ts/__benchmarks__/index.ts
  crypto/ts/__benchmarks__/suites/trees.ts
  crypto/ts/__tests__/IMT.test.ts
  crypto/ts/index.ts
  crypto/ts/quinTree.ts
  crypto/ts/types.ts
  crypto/ts/utils.ts
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

chore(cli): export genLocalState command
  cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix(cli): export genLocalState
  cli/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: (any of: **/*.{ts,js}) or (any of: **/*.{sol, yaml, yml, md, json})
  eslint --fix: any of: **/*.{ts,js}
