Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

refactor: cleanup contracts folder
  .gitignore
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/Tally.sol
  packages/contracts/contracts/gatekeepers/AnonAadhaarGatekeeper.sol
  packages/contracts/contracts/gatekeepers/EASGatekeeper.sol
  packages/contracts/contracts/gatekeepers/GitcoinPassportGatekeeper.sol
  packages/contracts/contracts/gatekeepers/HatsGatekeeperBase.sol
  packages/contracts/contracts/gatekeepers/SemaphoreGatekeeper.sol
  packages/contracts/contracts/gatekeepers/interfaces/IAnonAadhaar.sol
  packages/contracts/contracts/gatekeepers/interfaces/IEAS.sol
  packages/contracts/contracts/gatekeepers/interfaces/IGitcoinPassportDecoder.sol
  packages/contracts/contracts/gatekeepers/interfaces/IHats.sol
  packages/contracts/contracts/gatekeepers/interfaces/ISemaphore.sol
  packages/contracts/contracts/gatekeepers/mocks/MockAnonAadhaar.sol
  packages/contracts/contracts/gatekeepers/mocks/MockEAS.sol
  packages/contracts/contracts/gatekeepers/mocks/MockGitcoinPassportDecoder.sol
  packages/contracts/contracts/gatekeepers/mocks/MockHatsProtocol.sol
  packages/contracts/contracts/gatekeepers/mocks/MockSemaphore.sol
  packages/contracts/contracts/gatekeepers/mocks/SignUpToken.sol
  packages/contracts/contracts/mocks/MockVerifier.sol
  packages/contracts/contracts/trees/EmptyBallotRoots.sol
  packages/contracts/contracts/trees/zeros/MerkleBinary0.sol
  packages/contracts/contracts/trees/zeros/MerkleBinaryBlankSl.sol
  packages/contracts/contracts/trees/zeros/MerkleBinaryMaci.sol
  packages/contracts/contracts/trees/zeros/MerkleQuinary0.sol
  packages/contracts/contracts/trees/zeros/MerkleQuinaryBlankSl.sol
  packages/contracts/contracts/trees/zeros/MerkleQuinaryMaci.sol
  packages/contracts/contracts/trees/zeros/MerkleQuinaryMaciWithSha256.sol
  packages/contracts/package.json
  packages/contracts/scripts/compileSol.ts
  packages/contracts/tests/gatekeepers/AnonAadhaarGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/EASGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/GitcoinPassportGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/HatsGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/MerkleProofGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/SemaphoreGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/SignUpGatekeeper.test.ts
  packages/contracts/tests/gatekeepers/ZupassGatekeeper.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(blog): getting started blog post
  apps/website/blog/2024-12-01-maci-getting-started.md
  packages/contracts/.env.example
Due: none

docs(frontend-guide): added version
  apps/website/versioned_docs/version-v2.x/guides/frontend.md
Due: none

docs(frontend-guide): added version (#1959)
  apps/website/versioned_docs/version-v2.x/guides/frontend.md
Due: none

Fix typo in function comment for clarity and grammar
  apps/website/src/scripts/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: use view modifier for verifying poll proof
  packages/contracts/contracts/Poll.sol
Due: prettier --ignore-unknown --write

chore: fix 404 status URL
  README.md
Due: none

chore: fix 404 status URL (#1963)
  README.md
Due: none

docs(subgraph-docs): added alchemy to subgraph docs
  apps/website/versioned_docs/version-v2.x/guides/subgraph.md
Due: none

docs(subgraph-docs): added alchemy to subgraph docs (#1964)
  apps/website/versioned_docs/version-v2.x/guides/subgraph.md
Due: none

fix(contracts): use correct param for poll contract verification
  packages/contracts/tasks/deploy/poll/01-poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

Update how-it-works.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/how-it-works.md
Due: none

Update how-it-works.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/how-it-works.md
Due: none

feat(contracts): add ipfs service and prepare parsing ipfs data
  packages/contracts/.env.example
  packages/contracts/contracts/Poll.sol
  packages/contracts/package.json
  packages/contracts/tests/ipfs.test.ts
  packages/contracts/ts/genMaciState.ts
  packages/contracts/ts/ipfs.ts
  packages/contracts/ts/types.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

docs(use-cases): updated use cases and case studies
  apps/website/versioned_docs/version-v2.x/case-studies.md
  apps/website/versioned_docs/version-v2.x/resources.md
  apps/website/versioned_docs/version-v2.x/use-cases/governance.md
  apps/website/versioned_docs/version-v2.x/use-cases/local-elections.md
  apps/website/versioned_docs/version-v2.x/use-cases/polling.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/_category_.json
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/public-goods.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/_category_.json
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/apply.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/faq.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/how-it-works.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/registration-approaches.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/what-is-quadratic-funding.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/_category_.json
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/case-studies.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/how-it-works.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/registration-approaches.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/what-is-retroactive-public-goods-funding.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods.md
Due: none

test: check the NOTHING_UP_MY_SLEEVE value in Poll test suite
  packages/contracts/tests/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(use-cases): updated use cases and case studies (#1969)
  apps/website/versioned_docs/version-v2.x/case-studies.md
  apps/website/versioned_docs/version-v2.x/resources.md
  apps/website/versioned_docs/version-v2.x/use-cases/governance.md
  apps/website/versioned_docs/version-v2.x/use-cases/local-elections.md
  apps/website/versioned_docs/version-v2.x/use-cases/polling.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/_category_.json
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/public-goods.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/_category_.json
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/apply.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/faq.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/how-it-works.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/registration-approaches.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/quadratic-funding/what-is-quadratic-funding.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/_category_.json
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/case-studies.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/how-it-works.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/registration-approaches.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods-funding/retroactive-public-goods-funding/what-is-retroactive-public-goods-funding.md
  apps/website/versioned_docs/version-v2.x/use-cases/public-goods.md
Due: none

feat(subgraph): add chain hashes and ipfs messages to subgraph
  apps/subgraph/schemas/schema.v1.graphql
  apps/subgraph/src/maci.ts
  apps/subgraph/src/poll.ts
  apps/subgraph/templates/subgraph.template.yaml
  apps/subgraph/tests/ipfs/batch-0.json
  apps/subgraph/tests/ipfs/batch-1.json
  apps/subgraph/tests/poll/poll.test.ts
  apps/subgraph/tests/poll/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(documentation): added getting started with maci article to docs
  apps/website/versioned_docs/version-v2.x/resources.md
Due: none

docs(documentation): added getting started with maci article to docs (#1962)
  apps/website/versioned_docs/version-v2.x/resources.md
Due: none

feat(voice-credits): eth based voice credit contract
  packages/contracts/contracts/initialVoiceCreditProxy/ETHBasedInitialVoiceCreditProxy.sol
Due: prettier --ignore-unknown --write

feat: use gatekeeper per poll
  packages/cli/ts/commands/deployPoll.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/interfaces/IPoll.sol
  packages/contracts/contracts/interfaces/ISignUpGatekeeper.sol
  packages/contracts/contracts/utilities/Params.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/poll/01-gatekeepers.ts
  packages/contracts/tasks/deploy/poll/02-poll.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/MessageProcessor.test.ts
  packages/contracts/tests/Poll.test.ts
  packages/contracts/tests/PollFactory.test.ts
  packages/contracts/tests/Tally.test.ts
  packages/contracts/tests/TallyNonQv.test.ts
  packages/contracts/tests/constants.ts
  packages/integrationTests/ts/__tests__/maci-keys.test.ts
  packages/integrationTests/ts/__tests__/utils/interfaces.ts
  packages/integrationTests/ts/__tests__/utils/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: use gatekeeper per poll (#1961)
  packages/cli/ts/commands/deployPoll.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/cli/ts/index.ts
  packages/cli/ts/utils/interfaces.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/interfaces/IPoll.sol
  packages/contracts/contracts/interfaces/ISignUpGatekeeper.sol
  packages/contracts/contracts/utilities/Params.sol
  packages/contracts/deploy-config-example.json
  packages/contracts/tasks/deploy/poll/01-gatekeepers.ts
  packages/contracts/tasks/deploy/poll/02-poll.ts
  packages/contracts/tasks/helpers/constants.ts
  packages/contracts/tests/MACI.test.ts
  packages/contracts/tests/MessageProcessor.test.ts
  packages/contracts/tests/Poll.test.ts
  packages/contracts/tests/PollFactory.test.ts
  packages/contracts/tests/Tally.test.ts
  packages/contracts/tests/TallyNonQv.test.ts
  packages/contracts/tests/constants.ts
  packages/integrationTests/ts/__tests__/maci-keys.test.ts
  packages/integrationTests/ts/__tests__/utils/interfaces.ts
  packages/integrationTests/ts/__tests__/utils/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(voice-credit): setup tests and change name
  packages/contracts/contracts/initialVoiceCreditProxy/TokensSentInitialVoiceCreditProxy.sol
  packages/contracts/tests/initialvoicecredits/TokensSentInitialVoiceCreditProxy.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update contribution guidelines
  apps/website/versioned_docs/version-v2.x/contributing/contributing.md
Due: none

docs: update contribution guidelines (#1975)
  apps/website/versioned_docs/version-v2.x/contributing/contributing.md
Due: none

feat: make nullifier not leak identity between polls
  packages/circuits/circom/anon/pollJoining.circom
  packages/circuits/circom/circuits.json
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/circuits/ts/types.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/PollFactory.sol
  packages/contracts/contracts/interfaces/IPollFactory.sol
  packages/contracts/tests/PollFactory.test.ts
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: make nullifier not leak identity between polls (#1974)
  packages/circuits/circom/anon/pollJoining.circom
  packages/circuits/circom/circuits.json
  packages/circuits/ts/__tests__/PollJoining.test.ts
  packages/circuits/ts/types.ts
  packages/cli/ts/commands/joinPoll.ts
  packages/contracts/contracts/MACI.sol
  packages/contracts/contracts/Poll.sol
  packages/contracts/contracts/PollFactory.sol
  packages/contracts/contracts/interfaces/IPollFactory.sol
  packages/contracts/tests/PollFactory.test.ts
  packages/core/ts/Poll.ts
  packages/core/ts/utils/types.ts
Due: prettier --ignore-unknown --write, eslint --fix

typo utils.ts
  apps/website/src/scripts/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

typo PoseidonFuncs.md
  apps/website/versioned_docs/version-v1.2/typedoc/crypto/interfaces/PoseidonFuncs.md
Due: none

typo Ballot.md
  apps/website/versioned_docs/version-v1.2/typedoc/domainobjs/classes/Ballot.md
Due: none

typo proofs.ts
  packages/circuits/ts/proofs.ts
Due: prettier --ignore-unknown --write, eslint --fix

typo storage.ts
  packages/cli/ts/utils/storage.ts
Due: prettier --ignore-unknown --write, eslint --fix

typo ballot.test.ts
  packages/domainobjs/ts/__tests__/ballot.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

typo ballot.ts
  packages/domainobjs/ts/ballot.ts
Due: prettier --ignore-unknown --write, eslint --fix

typo PCommand.ts
  packages/domainobjs/ts/commands/PCommand.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(relayer): add relayer service boilerplate
  .github/workflows/relayer-build.yml
  apps/relayer/.env.example
  apps/relayer/.eslintrc.cjs
  apps/relayer/.gitignore
  apps/relayer/README.md
  apps/relayer/hardhat.config.cjs
  apps/relayer/nest-cli.json
  apps/relayer/package.json
  apps/relayer/tests/app.test.ts
  apps/relayer/ts/app.module.ts
  apps/relayer/ts/jest/setup.ts
  apps/relayer/ts/jest/transform.js
  apps/relayer/ts/main.ts
  apps/relayer/tsconfig.build.json
  apps/relayer/tsconfig.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

docs: add PGA to project list
  apps/website/src/content/projects.json
Due: none
