Repository privacy-scaling-explorations/maci: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,js}": ["prettier --ignore-unknown --write", "eslint --fix"],
  "**/*.{sol, yaml, yml, md, json}": ["prettier --ignore-unknown --write"]
}

chore(comments): fix unusefull comments
  circuits/circom/utils/non-qv/messageValidator.circom
  circuits/circom/utils/processMessagesInputHasher.circom
  circuits/ts/__tests__/CeremonyParams.test.ts
  circuits/ts/__tests__/ProcessMessages.test.ts
  circuits/ts/__tests__/utils/types.ts
  cli/testScript.sh
  cli/tests/ceremony-params/ceremonyParams.test.ts
  cli/ts/commands/genProofs.ts
  cli/ts/commands/setVerifyingKeys.ts
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/interfaces/IVkRegistry.sol
  contracts/tasks/deploy/maci/09-vkRegistry.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(poll.sol): replace external contracts with maci only
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/Tally.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/contracts/utilities/Params.sol
  contracts/tasks/deploy/poll/01-poll.ts
  coordinator/ts/proof/__tests__/proof.service.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

perf(messageprocessor.sol): hardcode initialization for batchHashes array
  contracts/contracts/MessageProcessor.sol
Due: prettier --ignore-unknown --write

docs(comments): fix some more comments
  contracts/contracts/interfaces/IPoll.sol
  core/ts/__tests__/Poll.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor: optimize poll and tally contracts variables
  contracts/contracts/Poll.sol
  contracts/contracts/Tally.sol
Due: prettier --ignore-unknown --write

test(test for pr checks): correct some of tests for PR checks
  cli/tests/constants.ts
  coordinator/tests/app.test.ts
  integrationTests/ts/__tests__/data/suites.json
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci: 🎡 renamed old ProcessMessages_10-2-1-2_test
  .github/workflows/coordinator-build.yml
  cli/testScript.sh
  contracts/deploy-config-example.json
  coordinator/.env.example
Due: none

ci: 🎡 correct rapidsnark/build/prover path
  cli/tests/constants.ts
  integrationTests/ts/__tests__/integration.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(reviews): solve some reviews for merging
  circuits/circom/utils/qv/messageValidator.circom
  circuits/ts/__tests__/CeremonyParams.test.ts
  contracts/tests/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(messageaqq): remove more message merging and message aqq
  circuits/circom/core/non-qv/processMessages.circom
  contracts/contracts/Poll.sol
  contracts/tasks/runner/merge.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/PollFactory.test.ts
  contracts/ts/genMaciState.ts
  subgraph/src/poll.ts
  subgraph/tests/poll/poll.test.ts
  subgraph/tests/poll/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

style(messageaqq): remove more message merging and message aqq
  cli/ts/commands/deploy.ts
  contracts/contracts/MessageProcessor.sol
Due: prettier --ignore-unknown --write, eslint --fix

refactor(messageaqq): remove message aqq from subgraph
  subgraph/templates/subgraph.template.yaml
Due: none

feat: proof parallelization
  contracts/contracts/MACI.sol
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/prove.ts
  coordinator/ts/proof/proof.service.ts
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/MACI.md
Due: prettier --ignore-unknown --write, eslint --fix

test(coordinator): hide NOT_MERGED_MESSAGE_TREE error
  coordinator/tests/app.test.ts
  coordinator/ts/proof/__tests__/proof.service.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(coordinator): fix test about message merging
  coordinator/tests/app.test.ts
  coordinator/ts/proof/__tests__/proof.service.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(proveonchain): change chainHash calculation
  cli/ts/commands/proveOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(proveonchain): fix chainHashes declaration
  cli/ts/commands/proveOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: proof parallelization (#1627)
  contracts/contracts/MACI.sol
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tasks/helpers/types.ts
  contracts/tasks/runner/prove.ts
  coordinator/ts/proof/proof.service.ts
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/MACI.md
Due: prettier --ignore-unknown --write, eslint --fix

test(proveonchain): fix chainHash calculation
  cli/ts/commands/proveOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(proveonchain): fix chainHashes calculations
  cli/ts/commands/proveOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(proveonchain): fix chainHashes calculation
  cli/ts/commands/proveOnChain.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add deploySemaphoreGatekeeper()
  contracts/tests/SemaphoreGatekeeper.test.ts
  contracts/ts/deploy.ts
  contracts/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(contracts): add deploySemaphoreGatekeeper() (#1628)
  contracts/tests/SemaphoreGatekeeper.test.ts
  contracts/ts/deploy.ts
  contracts/ts/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

test(proveonchain): fix loop limit
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MessageProcessor.sol
Due: prettier --ignore-unknown --write, eslint --fix

style(review comments): resolve some of review comments
  circuits/circom/core/non-qv/processMessages.circom
  circuits/circom/core/qv/processMessages.circom
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/VkRegistry.sol
  core/ts/Poll.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs: update outdated info
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
  website/versioned_docs/version-v2.0_alpha/quick-start/installation.md
  website/versioned_docs/version-v2.0_alpha/quick-start/poll-finalization.md
Due: none

docs: update outdated info (#1632)
  website/versioned_docs/version-v2.0_alpha/quick-start/deployment.md
  website/versioned_docs/version-v2.0_alpha/quick-start/installation.md
  website/versioned_docs/version-v2.0_alpha/quick-start/poll-finalization.md
Due: none

style(review comments): resolve some of review comments
  circuits/circom/core/non-qv/processMessages.circom
  circuits/circom/core/qv/processMessages.circom
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/VkRegistry.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/contracts/interfaces/IVkRegistry.sol
  contracts/contracts/utilities/Params.sol
  contracts/tasks/helpers/Prover.ts
  contracts/ts/genMaciState.ts
  core/ts/Poll.ts
  website/static/img/completingAPoll.svg
  website/versioned_docs/version-v1.2/cli.md
  website/versioned_docs/version-v1.2/contracts.md
  website/versioned_docs/version-v1.2/solidity-docs/Poll.md
  website/versioned_docs/version-v1.2/solidity-docs/VkRegistry.md
  website/versioned_docs/version-v1.2/solidity-docs/interfaces/IPoll.md
  website/versioned_docs/version-v1.2/solidity-docs/interfaces/IVkRegistry.md
  website/versioned_docs/version-v1.2/spec.md
  website/versioned_docs/version-v2.0_alpha/core-concepts/spec.md
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/Poll.md
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/VkRegistry.md
  website/versioned_docs/version-v2.0_alpha/developers-references/typescript-code/cli.md
Due: prettier --ignore-unknown --write, eslint --fix

test(lint:ts): fix e2e test because of lint:ts check
  contracts/contracts/MACI.sol
  core/ts/__tests__/e2e.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(wrong changes): fix wrong changes about documentation that is not in our scope
  website/static/img/completingAPoll.svg
  website/versioned_docs/version-v1.2/cli.md
  website/versioned_docs/version-v1.2/contracts.md
  website/versioned_docs/version-v1.2/solidity-docs/Poll.md
  website/versioned_docs/version-v1.2/solidity-docs/VkRegistry.md
  website/versioned_docs/version-v1.2/solidity-docs/interfaces/IPoll.md
  website/versioned_docs/version-v1.2/solidity-docs/interfaces/IVkRegistry.md
  website/versioned_docs/version-v1.2/spec.md
  website/versioned_docs/version-v2.0_alpha/core-concepts/spec.md
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/Poll.md
  website/versioned_docs/version-v2.0_alpha/developers-references/smart-contracts/VkRegistry.md
  website/versioned_docs/version-v2.0_alpha/developers-references/typescript-code/cli.md
Due: none

refactor(batchsizes): change batchSizes struct with messageBatchSize variable
  cli/ts/commands/deployPoll.ts
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MACI.sol
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/contracts/interfaces/IPollFactory.sol
  contracts/contracts/utilities/Params.sol
  contracts/deploy-config-example.json
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tasks/helpers/Prover.ts
  contracts/tasks/helpers/constants.ts
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/PollFactory.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/constants.ts
  contracts/ts/genMaciState.ts
  core/ts/Poll.ts
  integrationTests/ts/__tests__/maci-keys.test.ts
  integrationTests/ts/__tests__/utils/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore(contracts): optimization and typo fixes
  contracts/contracts/Poll.sol
  contracts/contracts/interfaces/IMACI.sol
  contracts/contracts/interfaces/IPoll.sol
  website/versioned_docs/version-v1.2/solidity-docs/Poll.md
  website/versioned_docs/version-v1.2/solidity-docs/interfaces/IPoll.md
Due: prettier --ignore-unknown --write

refactor(contracts): rollback to provide external contract references
  contracts/.nx/workspace-data/file-map.json
  contracts/.nx/workspace-data/project-graph.json
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/Tally.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/contracts/utilities/Params.sol
  contracts/tasks/deploy/poll/01-poll.ts
  coordinator/ts/proof/__tests__/proof.service.test.ts
Due: prettier --ignore-unknown --write, eslint --fix

docs(messageprocessor.sol): fix typo
  contracts/contracts/MessageProcessor.sol
Due: prettier --ignore-unknown --write

refactor(messagebatchsize): chenge messageBatchSize location from Params.sol to Poll.sol
  cli/.nx/workspace-data/file-map.json
  cli/.nx/workspace-data/project-graph.json
  cli/ts/commands/proveOnChain.ts
  contracts/contracts/MessageProcessor.sol
  contracts/contracts/Poll.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/contracts/utilities/Params.sol
  contracts/tasks/helpers/Prover.ts
  contracts/ts/genMaciState.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat(coordinator): add websockets support
  contracts/tasks/helpers/ProofGenerator.ts
  contracts/tasks/helpers/types.ts
  contracts/ts/index.ts
  coordinator/README.md
  coordinator/package.json
  coordinator/tests/app.test.ts
  coordinator/ts/app.controller.ts
  coordinator/ts/app.module.ts
  coordinator/ts/auth/AccountSignatureGuard.service.ts
  coordinator/ts/auth/__tests__/AccountSignatureGuard.test.ts
  coordinator/ts/events/__tests__/events.gateway.test.ts
  coordinator/ts/events/events.gateway.ts
  coordinator/ts/events/events.module.ts
  coordinator/ts/events/types.ts
  coordinator/ts/proof/proof.service.ts
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, eslint --fix

refactor(maxmessages): remove maxMessages from maxValues
  circuits/ts/__tests__/CeremonyParams.test.ts
  circuits/ts/__tests__/ProcessMessages.test.ts
  circuits/ts/__tests__/TallyVotes.test.ts
  circuits/ts/__tests__/utils/constants.ts
  cli/ts/commands/publish.ts
  contracts/contracts/MACI.sol
  contracts/contracts/Poll.sol
  contracts/contracts/PollFactory.sol
  contracts/contracts/interfaces/IPoll.sol
  contracts/contracts/interfaces/IPollFactory.sol
  contracts/contracts/utilities/Params.sol
  contracts/tasks/deploy/poll/01-poll.ts
  contracts/tests/MACI.test.ts
  contracts/tests/MessageProcessor.test.ts
  contracts/tests/Poll.test.ts
  contracts/tests/PollFactory.test.ts
  contracts/tests/Tally.test.ts
  contracts/tests/TallyNonQv.test.ts
  contracts/tests/constants.ts
  contracts/ts/genMaciState.ts
  core/ts/MaciState.ts
  core/ts/Poll.ts
  core/ts/__tests__/MaciState.test.ts
  core/ts/__tests__/Poll.test.ts
  core/ts/__tests__/e2e.test.ts
  core/ts/__tests__/utils/constants.ts
  core/ts/__tests__/utils/utils.ts
  core/ts/utils/types.ts
  integrationTests/ts/__tests__/integration.test.ts
  subgraph/src/maci.ts
  subgraph/tests/common.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(sltimestemp): remove slTimestamp from circuits
  circuits/circom/core/non-qv/processMessages.circom
  circuits/circom/core/qv/processMessages.circom
  circuits/circom/utils/non-qv/messageValidator.circom
  circuits/circom/utils/non-qv/stateLeafAndBallotTransformer.circom
  circuits/circom/utils/qv/messageValidator.circom
  circuits/circom/utils/qv/stateLeafAndBallotTransformer.circom
  core/ts/__benchmarks__/index.ts
  core/ts/__benchmarks__/utils/constants.ts
Due: prettier --ignore-unknown --write, eslint --fix

refactor(review comments): resolve more review comments
  circuits/ts/__tests__/CeremonyParams.test.ts
  contracts/deploy-config-example.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(subgraph): fix bug about maxVoteOptions dunction call
  subgraph/src/maci.ts
Due: prettier --ignore-unknown --write, eslint --fix
